extends ./layout.jade
block vars
    - var pageTitle = 'FAQ'
block content
    .big#reset
    .clearfix
    header#faq.small
    main#pageFaq
        section#faq
            h1
             span#titleFaq FAQ
            .subtitle
              span You have questions ? <br/>  You may find answers here &nbsp;
              i.em.em-point_down
            .container
                ul
                    li
                        p.first What is Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Quorum is a mobilisation technology startup. <i class="em em-loudspeaker"></i> <br> We build an app that change the way of volunteering making it more accessible for people & efficient for organisations, using the latest techs in data and artificial intelligence.
                    li
                        p.first Why use Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Face to face and person to person is the most effective way to engage someone. <br> Knowing this,  as an organisation, a campaign, a movement, an administration, a company or a game changer you have to be able to :<br><br> - organise efficiently and empower your team to mobilise widely<br>- reduce efforts given by volunteers by using dedicated tools and by targeting areas and messages.<br><br>Use Quorum, to help you to share your vision thanks to a powerful organisation.
                    li
                        p.first What devices does Quorum work on ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Our app is cross-platform. It works with Apple IOS devices, Android devices and also tablets. The web app can be used with any personal computer with an Internet connection.   <i class="em em-sunglasses"></i>                 
                    li
                        p.first Is Quorum just a software ?
                            i.fa.fa-angle-double-down.blueFaq
                        p <b>Yes and No</b> <br/> <b>Yes</b>, because we are not a consulting firm or your staff director or your COLLECTIVE etc. <br/> <br/> We are a tech provider, offering powerful tools for your team and meaningful analysis for your organisation to take better decisions. <br/><br/> Those analyse can helps you out   but the decision and the strategy remains yours. Your data, Your decisions. <br><br> <b>NO</b>,  because we are not just a software but also a service. We make our client a top priority because we care about their success. We have a team dedicated, making sure that we provide trainings, feedbacks, implementation, best practices and support. For any question contact <a href='mailto:info@quorumapp.co'>Max</a>
                    li
                        p.first I am only interested with one feature, and not the others …
                            i.fa.fa-angle-double-down.blueFaq
                        p Not a problem. You can use one of our feature without the other. It depends on your needs and the momentum of your action.
                    li
                        p.first Does Quorum respect privacy ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Yes, this is important to us.  Privacy, Intimity and civil liberties are fundamental rights. More than a concern, at Quorum it is a value. <i class="em em-facepunch"></i> <br> Even more importantly we have to be mission driven, and be meaningful in our work. <br><br> In many cases we don’t need personal data to make our job done. <br><br>If data creates exciting opportunities, we have to look at those opportunities without forgetting the outcome we are targeting and without forgetting our values. We built the company to solve people’s problems, and bring positive change ;  not to create new ones.<br><br>Ours apps use "privacy by design" principles and we have a legal expert dedicated on the team. You can <a href='mailto:legal@quorumapp.co'>contact him</a> if you have any question or inquiries. <br><br> Modern apps. Full Privacy. <i class="em em-closed_lock_with_key"></i>
                    li
                        p.first Is Quorum easy to use for my team members ?
                            i.fa.fa-angle-double-down.blueFaq
                        p We are fully aware that all your team members are not necessary tech champions or can be reluctant to new technologies. <br><br> This is the reason why, <br> #1 :  we build a people-centered and mission focused app with the best experts in human factors (Akiani).<br>Our apps are built with intuitive and pleasant interfaces, easy to use, so any team can get up and running in minutes.<br>#2 : We provide training and listen to feedbacks to improve our tools.<br> #3 : We work on 3 devices :<br>MOBILE, WEB AND … PAPER.<br>You can get printed forms for your team and get additional features to simplify the transcript.<br><br> <br>Meet our <a href='http://www.akiani.fr/' target="_blank">human factors experts</a> <i class="em em-two_hearts"></i>  <br>Meet our <a href='https://azfoundry.com/en/' target="_blank"> designers team</a> <i class="em em-two_hearts"></i> 
                    li
                        p.first Does it work in rural environment and is it battery efficient  ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Yes, the app works on EDGE, with a low network coverage and is battery efficient.<br> It consumes nothing when you don’t use your position. 
                    li
                        p.first Who are the people behind Quorum  ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Quorum is not just an app, we try to be smart and put intelligence in it.<br>In our apps we aggregate and analyse a lot of sources of data with always two things in mind : the outcome and the people who are using it.<br>This requires a scalable reactive architecture as well as breakthroughs in data sciences, machine learning, data visualisation, design, product lead all together.<br>Our team is an international mashup of data engineers, data scientists, designers, field officers  working all together so we can build operational solutions that allow you to make the difference.<br><br>Meet the team on <a href='http://instagram.com/quorumteam/' target="_blank">Instagram</a> ! 
                    li
                        p.first Wanna join the team ? 
                            i.fa.fa-angle-double-down.blueFaq
                        p Great ! Just 3 things :<br>#1 : Read our article about <a href="">How we build a team at Quorum ?</a> <i class="em em-eyeglasses"></i><br>#2 : Join us on <a href="http://linkedin.com/company/10114882" target="_blank">Linkedin</a> to see our latest job offers<br>#3 : Send a message to the team <i class="em em-email"></i>
                    li
                        p.first Quorum in the future ?
                            i.fa.fa-angle-double-down.blueFaq
                        p We are getting ready for a lot of things. <i class="em em-fire"></i> <br> Keep in touch :)

                    li
                        p.first A few other words that define Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p <b>Empowerment</b><br><b>Grassroots</b><br>Campaigning Software<br>Canvassing<br>Data driven App<br>Data beyond expectations<br>Mobilise above expectations<br>


