extends ./layout.jade
block vars
    - var pageTitle = 'FAQ'
block content
    .big#reset
    .clearfix
    header#faq.small
    main#pageFaq
        section#faq
            h1
             span#titleFaq FAQ
            .subtitle
              span You have questions ? <br/>  You may find answers here &nbsp;
              i.em.em-point_down
            .container
                ul
                    li
                        p.first What is Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Quorum is a mobilisation technology startup. <br/> We build an app that change the way of volunteering making it more accessible for people & efficient for organisations, using the latest techs in data and artificial intelligence.
                    li
                        p.first What devices does Quorum work on ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Our app is cross-platform. It works with Apple IOS devices, Android devices and also tablets. The web app can be used with any personal computer with an Internet connection.                   
                    li
                        p.first Is Quorum just a software ?
                            i.fa.fa-angle-double-down.blueFaq
                        p <b>Yes and No</b> <br/> <b>Yes</b>, because we are not a consulting firm or your staff director or your COLLECTIVE etc. <br/> <br/> We are a tech provider, offering powerful tools for your team and meaningful analysis for your organisation to take better decisions. <br/><br/> Those analyse can helps you out   but the decision and the strategy remains yours. Your data, Your decisions. <br><br> <b>NO</b>,  because we are not just a software but also a service. We make our client a top priority because we care about their success. We have a team dedicated, making sure that we provide trainings, feedbacks, implementation, best practices and support. For any question contact <a href='mailto:info@quorumapp.co'>Max</a>
                    li
                        p.first I am only interested with one feature, and not the others …
                            i.fa.fa-angle-double-down.blueFaq
                        p Not a problem. You can use one of our feature without the other. It depends on your needs and the momentum of your action.
                    li
                        p.first Is Quorum easy to use for my team members ?
                            i.fa.fa-angle-double-down.blueFaq
                        p We are fully aware of the fact that all your team members are not tech champions. <br>This the reason why,  we provide you a people-centered and mission focused app with intuitive and pleasant interfaces, easy to use, so any team can get up and running in minutes. We work with a team on <a href="http://www.akiani.fr/">human factors specialists</a>
                    li
                        p.first Does it work in rural environment and is it battery efficient  ?
                            i.fa.fa-angle-double-down.blueFaq
                        p 
                    li
                        p.first Does Quorum respect privacy ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Our apps follow the principle of privacy by design.<br> <b>Modern apps. Full Privacy.</b>



