extends ./layout.jade
block vars
    - var pageTitle = 'Home'
block content
    header#reset.big.
      .container
    main
        section#product
            .container

                //- img(src="../images/home/icon-header.png")

                #testimony-1.active

                    h2 The app that <span class="underline">finds</span>, <span class="underline">engages</span> and <span class="underline">mobilises people</span> : &nbsp;
                        span.highlight-span  block by block,  street by street, <span class="underline">one person after the other</span>.

                    span.quote Sebastien Saint Pasteur’s staff and volunteers are one of the teams using Quorum to make their actions on the field more efficient, effective and pleasant.  With Quorum, the team reduce efforts to focus on what really matters : Mobilise for the election day.

                    


                #testimony-2
                    h2  The app that <span class="underline">empowers your team</span> and gives you a much better idea of what <span class="underline">people</span> on the field are <span class="underline">really thinking</span>.
                    
                    span.quote  Les Jours heureux is one of the non-profit using Quorum to consult citizens. With Quorum they build a modern, data-driven and digitally sophisticated movement on the field, a movement in which volunteers take small actions everyday,  a movement that achieve its goal.
                    
                #testimony-3
                    h2  The app that provides your customers cutting-edge software to <span class="underline">move people</span>, build <span class="underline">ground-up strategies</span>, bring some <span class="underline">change</span>.
                    span.quote  Tell & Charrier is one of the consulting firm offering Quorum to its customer to run their non-profits, serve constituents or change laws, taboos,life. Because they understood today smart actions will be the ones who embrace new technology, make it a priority as part of their overall strategy, and stay ahead of the curve.
              
                hr.hr-testimony
                .testimonies
                    .person-testimony.active.person-1
                        img(src="../images/header/photo-testimony2.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Sébastien Saint Pasteur
                            p.testimony-job Elected Councillor
                    .person-testimony.person-2
                        img(src="../images/header/photo-JHP.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Les jours heureux
                            p.testimony-job Non-Profit
                    .person-testimony.person-3
                        img(src="../images/header/photo-testimony3.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Agence Tell & Charrier
                            p.testimony-job Communication consultant

                .testimonies-responsive
                    ul
                        li
                            .person-1
                                p
                                    span.icones-1.fa.fa-circle
                        li
                            .person-2
                                p
                                    span.icones-2.fa.fa-circle-o
                        li
                            .person-3
                                p
                                    span.icones-3.fa.fa-circle-o
        section#target.hide
            .container#target-container
                h2 <b>MOBILISE</b> ABOVE EXPECTATIONS
                ul
                    li(onclick="location.href='http://google.fr';")
                      p.objectif CAMPAIGNERS
                      p.target-name Staff, election runner 
                      hr
                      p.description <b>Win an election and engage people</b>
                      p.keywords Win an election
                    li(onclick="location.href='http://google.fr';")
                      p.objectif  NON-PROFITS
                      p.target-name  Game changer, Advocacy group, Union
                      hr
                      p.description <b>Raise more money, Get more support, build a movement</b>
                      p.keywords Build a movement 
                    li(onclick="location.href='http://google.fr';")
                      p.objectif PUBLIC ADMINISTRATION 
                      p.target-name Local and national authorities, companies
                      hr
                      p.description <b>Engage public, serve your constituents, deliver better outcomes</b>
                      p.keywords Engage, serve and deliver
                    li(onclick="location.href='http://google.fr';")
                      p.objectif AGENCIES & CONSULTING 
                      p.target-name  Communication, Data consulting, Independant
                      hr
                      p.description <b> Offer your clients efficient, effective and powerful tools joining our partner program</b>
                      p.keywords Join our partner program
                        
        section#schema.hide
            .container
                h2 <b>WHY</b> QUORUM ? 
                span.img-schema
                    img(src="../images/schema-anglais.png")
            
            
        section#icons.hide
            .container
                h2 HOW DO YOU <b>BUILD</b> A <b>MOVEMENT</b> ? <b>ENGAGE</b> PEOPLE ?
                h3 1 <b>web app</b> to <b>target</b>, <b>plan</b> and <b>analyse</b>. 
                h3 1 <b>mobile app</b> to mobilise and  <b>get involved</b>
                ul
                    li#icon-1
                        img(src="../images/icons/icon1.png")
                        p Target (optional)
                    li#icon-2
                        img(src="../images/icons/icon2.png")
                        p Organise
                    li.active#icon-3
                        img(src="../images/icons/icon3.png")
                        p Mobilise
                    li#icon-4
                        img(src="../images/icons/icon4.png")
                        p Analyse

                                
        section#mobile
            .container
                .mobile-content       
                    .content#content-icon-1
                        h2 Get vizualisation of swing zones and key characteristics
                        div.sentence
                            span.part Targeted information about territories and people
                        h2 Build meaningful actions with the right information to deliver
                        div.sentence 
                            span.part Develop key messages for your team
                            
                    .content#content-icon-2
                        h2 Plan action and assign zones to team member
                        div.sentence
                            span.part Turf cutting, canvassing, create roadmaps

                        h2 Custom fields and survey for the smartphone
                        div.sentence
                            span.part Turf cutting, canvassing, create roadmaps
                        
                        h2 Custom your “HeadQuarter” on the app
                        div.sentence.last
                            span.part Send instant information to your team

                    .content#content-icon-3.active
                        h2  Invite new member to your organisation
                        div.sentence
                            span.part Empower, create collective force, manage access

                        h2 Anytime / Anywhere mobilise, consult, engage
                        div.sentence
                            span.part Get instantly new donors, supporters, feedbacks

                        h2  Get a unique database
                        div.sentence
                            span.part Assign tags, track issues, create segments; follow ups

                        h2  Integrated canvassing feature
                        div.sentence
                            span.part Optional
                            
                    .content#content-icon-4
                        h2 Analyse data from the field
                        div.sentence
                            span.part View metrics breakdowns, results

                        h2 View key metrics about your organisation
                        div.sentence
                            span.part And your team progression

                        h2 Many other surprises and new features
                        div.sentence
                            span.part Contact us to learn more
 
            .clearfix
        .clearfix


        section#get-demo.hide
            .container
                button.btn
                  a(href="https://quorum-impact.us12.list-manage.com/subscribe?u=8d7c7595072992d8808c7993d&id=913c162260" target="_blank").get-demo INSTALL QUORUM
        .clearfix

        section#faq-news.hide

            .container#preview-news
                span.derniere-actu
                    h2 THE LATEST NEWS
                ul.news-img

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/impacthub.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/sudouest.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/imgres-1.jpg" )


                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/websummit.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/fdsolutons2.png" ).ok

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/challenges2.png" )
                    
                    a(href="../fr/news.html" target="_blank")
                        p ▸ Read the latest news

                ul.news-responsive 
                    li
                      a(href="../fr/news.html") Impact Hub Singapore 

                    li
                      a(href="../fr/news.html") Sud Ouest 

                    li
                      a(href="../fr/news.html") La Tribune 


                    li
                      a(href="../fr/news.html") Web Summit 

                    li
                      a(href="../fr/news.html") La France des Solutions 

                    li
                      a(href="../fr/news.html") Challenges
                    
                    a(href="../fr/news.html" target="_blank")
                        p.access-news ▸ Découvrir les nouvelles actualités

            .container#preview-faq
                span.question-freq
                    h2 FAQ
                
                ul
                    li
                        a(href="../en/faq.html")
                            p.preview-question What is Quorum ?
                            p.answer Quorum is a mobilisation technology startup.  We build an app that ..
                    li
                        a(href="../en/faq.html")
                            p.preview-question Why use Quorum ?
                            p.answer Face to face and person to person is the ..
                    li
                        a(href="../en/faq.html")
                            p.preview-question I am only interested with one feature, and not the others …
                            p.answer Not a problem. You can use one of our feature without the other. It depends on your needs and the momentum of your action. Contact <a href="mailto:mb@quorumapp.co">Max</a> for any further information !


                        a(href="../en/faq.html")
                            p.faq-access ▸ Find answers here
                    .clearfix
                .clearfix
        
        .clearfix

        
        section#contact.hide
            .container#form-contact
                .formulaire
                    span.titre-formulaire
                        h2 DROP US A LINE
                    

                    form(action='https://formspree.io/info@quorum-impact.com', method='post')
                        .champs
                            input(name='name' type="text" placeholder="Your name")
                            .border-input.blue

                            input(type='email', name="_replyto", placeholder='Your email', required)
                            .border-input.blue

                            textarea(name='message' rows="6" placeholder="Your Message", required)
                            .border-textarea.blue
                            input(type="hidden" name="_subject" value="Contact from quorum-impact.com")
                            input(type="text" name="_gotcha" style="display:none")
                            input(type="hidden" name="_next" value="//quorum-impact.com/")
                        
                        button.blue(type='submit' value="Send") SEND IT ! 


            .container#adress-postale
                .contact-postal
                    #cadre-pop
                        
                        span.titre-postal
                            h2 PAY US A VISIT
                        
                        
                    div#carte
                    
                    p.telephone
                        span.phone
                            img(src='../images/icons/phone.svg', alt='Phone')
                        a(href="tel:+33179734004") +33 1 79 73 40 04
                    p.adresse-mail
                        a(href="mailto:welcome@quorum-impact.com")<i class="fa fa-envelope-o" aria-hidden="true"></i>  info@quorumapp.co
                    p.adresse-bordeaux
                        span.building
                            img(src="../images/home/bordeaux.png", alt="Building")
                        a(href="https://www.google.fr/maps/place/9+Rue+de+Condé,+33000+Bordeaux/@44.8435887,-0.5755025,17z/" target="_blank") 9 rue de Condé <br/> 33000 Bordeaux
                    p.adresse-paris
                        span.building
                            img(src="../images/home/paris.png", alt="Building")
                        a(href="https://www.google.fr/maps/place/124+Avenue+de+Villiers,+75017+Paris/@48.8854713,2.2930888,17z" target="_blank") 124 avenue de Villiers <br/> 75017 Paris
        .clearfix



        section#bandeau-newsletter.hide

            form(action="page-traitement-newsletter",method="post")
                .description-newsletter
                    h1.newsletter-msg Get announcements & latest publications directly in your mailbox 
                    //- h2.newsletter-msg En vous abonnant à notre Newsletter mensuelle
                .form-newletter
                    .input-newsletter
                        input(type='email', name="mail-newsletter", placeHolder="Votre adresse mail", required)
                    .abonnement
                        button.btn.abonnement-btn SUBSCRIBE

        .clearfix

        section#social.hide

            h1 CONNECT WITH QUORUM

            ul
                li
                    a(href="https://www.facebook.com/quorumhq/" target="_blank")
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                li 
                    a(href="https://twitter.com/quorumhq" target="_blank")
                        <i class="fa fa-twitter" aria-hidden="true"></i>

                li
                    a(href="https://www.linkedin.com/company/quorum-apps" target="_blank")
                        <i class="fa fa-linkedin" aria-hidden="true"></i>

                li 
                    a(href="https://www.instagram.com/quorumteam/" target="_blank")
                        <i class="fa fa-instagram" aria-hidden="true"></i>           
                li 
                    a(href="https://plus.google.com/+Quorumappsdata" target="_blank")
                        <i class="fa fa-google-plus" aria-hidden="true"></i>                  
                li 
                    a(href="https://medium.com/quorum-blog" target="_blank")
                        <i class="fa fa-medium" aria-hidden="true"></i>


                    



            div.clearfix