#{$all-button-inputs},
button {
	padding: 16px 28px;
	border: none;
	border-radius: 2px;
	color: $white-color;
	font-weight: bold;
	font-family: $heading-font-family;
	button:hover {
				background-color: $red;
			}
}
