// Neat Breakpoints
$small-screen: em(425);
$medium-screen: em(768);
$large-screen: em(1024);
$xlarge-screen: em(1921);

$susy: (
  container: $xlarge-screen,
  columns: 1,
  gutters: 1/8
);

html,body {
  height:100%;
}

.container {
  @include container($small-screen);

  @include susy-media($medium-screen) {
    @include container($medium-screen);
  }

  @include susy-media($large-screen) {
    @include container($large-screen);
  }

  @include susy-media($xlarge-screen) {
    @include container($xlarge-screen);
  }
}
