body {
  font-family: $base-font-family;
}
h1{
	font-size: $header-font-size;
}
h2{
	font-size: $header-font-size - 5;
}
h3 {
	font-size: $base-font-size + 10;	
	margin-bottom: 5px;
}
h4 {
	font-size: $base-font-size + 4;	
}