// Typography
$base-font-family: 'ProximaNova-Regular';
$heading-font-family: 'ProximaNova-Bold';
$font-quote: 'ProximaNova-Light';

// Font Sizes
$base-font-size: 16px;
$header-font-size: 54px;
$header2-font-size: 34px;
$header3-font-size: 34px;

$header-xsmall-font-size: 32px;

$small-font-size: 14px;
$header-small-font-size: 35px;
$header2-small-font-size: 25px;
$header3-small-font-size: 25px;

$header-medium-font-size: 40px;

// Line height
$nav-height: 4.5;
$base-line-height: 1.2 * $base-font-size;
$heading-line-height: 1.2;

// Modular Scale
/*$ms-base: 1em;
$ms-ratio: $major-second;*/

// Other Sizes
/*$base-border-radius: 3px;
$base-spacing: $base-line-height;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;*/

// Colors
$blue: #20BFFA;
$green: #6AD931;
$purple: #8155F4;
$pink: #DC44A3;
$red: #EA3358;
$turquoise: #00D19B;
$dark-blue: #0F9499;
$yellow: #DCFA34;
$light-grey: #F2F2F2;
$grey: #9FA4AB;

// Nav
$nav-size: 81px;
$small-nav-size: 44px; 

// Font Colors
$font-color: #212121;
$white-color: $light-grey;

// Border

// Forms
