// Typography
$base-font-family: 'ProximaNova-Regular';
$heading-font-family: 'ProximaNova-Bold';
$font-quote: 'ProximaNova-Light';

// Font Sizes
$base-font-size: 16px;
$header-font-size: 65px;
$header2-font-size: 40px;
$header3-font-size: 35px;

$small-font-size: 14px;
$header-small-font-size: 35px;
$header2-small-font-size: 25px;
$heade3r-small-font-size: 25px;

// Line height
$nav-height: 4.5;
$base-line-height: 1.2 * $base-font-size;
$heading-line-height: 1.2;

// Modular Scale
/*$ms-base: 1em;
$ms-ratio: $major-second;*/

// Other Sizes
/*$base-border-radius: 3px;
$base-spacing: $base-line-height;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;*/

// Colors
$blue: #47B6FF;
$green: #6AD932;
$purple: #8256F5;
$pink: #DB47A3;
$dark-blue: #0E949A;
$grey: #767B84;

// Nav
$nav-size: 81px;
$small-nav-size: 44px; 

// Font Colors
$font-color: #212121;
$white-color: #F2F2F2;
$header-font-color: #F2F2F2; 

// Border

// Forms
