@include exports('text') {
  	#text {
  		margin-top: 30px;
  		.container {
      margin-top: 30px;
      margin-left: calc(8% + 27px);
      margin-right: calc(8% + 27px);
	  		span.quote{
	  			color: $grey;
	  			font-size: 20px;
	  		}
        h3 {
          font-family: 'ProximaNova' !important;
        }
	  		h2 {
       font-family: 'ProximaNova';
        margin-top: 70px;
	  			p {
	  				margin: 0;
	  			}
	  		}
	  	}
  	}
  	@media(max-width: 768px){
  		#text {
  			margin-top: 10px;
  			h2 {
  				display: inline-block;
          font-family: 'ProximaNova';
  				p {
  					display: inline-block;
  				}
  			}
  		}
  	}
}
