script(src='//code.jquery.com/jquery-2.1.4.min.js')
script(src='javascripts/TweenMax.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js')
script(src='javascripts/plugins/animation.gsap.js')
script(src="javascripts/typed.js")
script(src='javascripts/particles.min.js')
script(src='javascripts/app.js')