@include exports ('faq') {
	#pageFaq {
		background: url("../images/patternquorumv2.png");
	}
	body {
		background-color: white !important;
	}
	.em {
		font-size: 0.8em;
	}
	#faq {
		#titleFaq {
			  display: block;
			  color: #fff;
              font-size: 25px;
              font-weight: 700;
              line-height: 24px;
              background-color: #00989d;
              width: 70px;
              transform: rotate(-3deg);
              padding-top: 3px;
              margin:auto;
		}
		.bold {
            font-weight: bold;
		}
		.subtitle {
			font-size: 1.4em;
			margin-top: 3em;
			margin-bottom: 3em;
		}
		.blueFaq {
			color: #31949a;
			font-weight: bold;
		}
		.fa-angle-double-down {
			font-size: 2em;
		}
		.fa-angle-double-down:hover {
			background-color: transparent;
		}
		.container {
			width: 80%;
			background-color: white;
			ul {
				text-align: justify;
				list-style-type: none;
				padding-left: 0;
				li {
					position: relative;
					a {
						color:$blue;
						text-decoration: underline;
						font-weight: bold;
					}
					&:hover {
						cursor: pointer;
					}
					&:nth-child(odd) {
						background-color: #dfdfdf;
					}
					p {
						width: 90%;
						padding: 30px 20px;
						margin: 0;
						font-weight: normal !important;
					}
					p:nth-child(1) {
						font-weight: bold;
						i {
							position: absolute;
							top: 25px;
							right: 22px;
						}
					}
					p:nth-child(2) {
						display: none;
						line-height: 20px;
						span {
							display: block;
						}
					}
				}
			}
		}
	}
	// Position des chevrons sur les mobiles
	@media(max-width: 770px) {
		li {
			position: relative;
		}
		.fa-angle-double-down {
			position: absolute;
			right: 1px;
			top: 50px !important;
		}
	}

	@media(max-width: 425px) {
		#faq {

			.fa-angle-double-down {
				display: block;
				float: right;
				position: absolute !important;
				margin-top: -25px;
			}

			.first {
				max-width: 280px !important;
			}
		}
	}


	@media(max-width: 320px) {
		#faq {


			.first {
				max-width: 220px !important;
			}
		}
	}
}