@include exports('faq') {
	#faq{
		.container {
			width: 80%;
			ul {
				text-align: justify;
				list-style-type: none;
				padding-left: 0px;
				li {
					padding: 15px;
					position: relative;
					&:hover {
						cursor: pointer;
					}
					&:nth-child(odd) {
						background: rgba(129,44,244,0.1);
					}
					p {
						width: 90%;
					}
					p:nth-child(1) {
						i {
							position: absolute;
							top: 34px;
							right: 22px;
						}
					}
					p:nth-child(2) {
						margin-top: 40px;
						display: none;
						line-height: 20px;
						span {
							display: block;
						}
					}
				}
			}
		}
	}
}