extends ./layout.jade
block vars
    - var pageTitle = 'Équipe'
block content
    header#about.small
    main#aboutPage
        .goTop.hidden
            a(href="#aboutPage")
                i.fa.fa-arrow-circle-o-up
        #textOnScroll
            h1.fontTitle MEET THE 
                span TEAM
            
            #text1-background.active
            #text2-background
            #text3-background
            #text4-background
            #text5-background
            #text6-background
            #text7-background
            #text8-background
            #text9-background

            .texts

                #text1.active Nos organisations aujourd’hui font face à des problèmes et des défis d’une complexité sans précédent. 

                #text2 Ces problèmes, nous pensons que 
                    strong la technologie, l’intelligence artificielle et le traitement des données
                    |  peuvent aider à les surmonter.

                #text3 Comme ils ont aidé à transformer à grande échelle le secteur financier, marchand ou logistique, nous pensons qu’ils peuvent aussi aider la société à aller mieux, aux hommes à diffuser leurs idées, à 
                    strong créer du mouvement
                    |  , à se rassembler autour de causes.

                #text4 Nous pensons que la technologie peut aider les hommes à avoir un 
                    strong impact sociétal fort
                    | , grâce au pouvoir d’analyse, de synchronisation et de coordination de ces outils.

                #text5 C’est pourquoi nous avons créé 
                    strong Quorum
                    |  : pour mettre les technologies dans des applications simples et fluides, dédiées aux utilisateurs et au service d’objectifs 
                    strong réels et concrets
                    |  .

                #text6 Mais si nous pensons que la technologie permet 
                    strong d'augmenter les capacités 
                    | des individus et des organisations, elle ne peut être une fin en soi.

                #text7 Elle n’est là que pour aider les 
                    strong hommes à accomplir
                    | . Son accompagnement restera toujours limité par son utilisation.
                
                #text8 C’est pourquoi la technologie doit disparaitre, 
                    strong se rendre invisible
                    | , dans le sens où les individus doivent se l’accaparer pour qu’elle ne soit là que pour aider à réaliser pleinement nos objectifs : augmenter l’impact de nos actions et permettre d’aller plus loin dans la mobilisation sans jamais perdre l’idéologie qui nous définit
            
            .bulletList
                a(href="text1").active
                a(href="text2")
                a(href="text3")
                a(href="text4")
                a(href="text5")
                a(href="text6")
                a(href="text7")
                a(href="text8")
          
        #slide
            ul
                li.active
                    a(href="#believe") WHAT WE BELIEVE IN
                li
                    a(href="#skills") HOW WE DO IT 
                li
                    a(href="#team") QUORUM’S FACES               


        #believe
            .container
                .content

                    h2 WHAT WE 
                        span BELIEVE 
                        | IN

                    h3.italic "La technologie ne construit pas de grands mouvements, ne débat pas d’idées et ne partage pas sa passion ; les êtres humains oui."
                    
                    ul

                        li 
                            div.sentence
                                span LE LOGICIEL 
                                    strong LIBRE
                        li
                            div.sentence
                                span L'
                                    strong INNOVATION 
                                    | PERMANENTE
                       
                        li 
                            div.sentence
                                span LA 
                                    strong PROTECTION DES DROITS
                                    |  & DE LA VIE PRIVEE  
                        li 
                            div.sentence
                                span L’EMANCIPATION DE LA DONNEE ET l’
                                    strong OPEN DATA
                        
                        li 
                            div.sentence
                                span LA TECHNOLOGIE DOIT 
                                    strong S’ADAPTER 
                                    | A l’INDIVIDU, PAS L’INVERSE
                         li
                            div.sentence
                                span L’AMBITION D’
                                    strong ETRE UTILE 
                                    | : CONSTRUIRE DES OUTILS UTILES QUI REPONDENT A DES OBJECTIFS CONCRETS
        #skills
            
            .container
                .content
                    h2 HOW WE 
                        span DO IT
                    h3 L’intelligence collective est notre ADN.
                    
                    p Nous sommes des 
                        strong vétérans de grandes sociétés informatiques, 
                        | des 
                        strong experts en sciences sociales 
                        | qui construisent des algorithmes, des anciens 
                        strong volontaires d’ONG 
                        | qui écrivent des lignes de codes et qui pensent que tous ensemble - si nous parvenons à travailler et à construire des ponts entre nos disciplines – nous pouvons créer des outils qui peuvent changer la donne.
                        //- graphique
                    #chart 

        #team
            .container
                .content
                    h2 QUORUM
                        span 'S 
                        | FACE
                        span S
                    .member
                        
                        img.hidden(title="Alice marketeuse" src="../images/team/florent-small-color.png" alt="picture Alice in a field")
                        img(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, marketeuse")
                        .descriptionPerson 
                            p Alice
                            p Marketeuse
                            p.hidden Adepte des salades niçoises
                
                        div
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter
                    .member
                        img.hidden(title="Lisa Grenier" src="../images/team/florent-small-color.png" alt="Lisa Grenier, developpeuse")
                        img(title="Lisa Grenier" src="../images/team/florent-small-color.png" alt="Lisa Grenier, developpeuse")
                        .descriptionPerson                         
                            p Lisa
                            p Developpeuse
                            p.hidden Geek à ses heures
                        div
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter

                    .member
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Jean-Baptiste Daniel")
                        img.hidden(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, danseuse")
                        .descriptionPerson
                            p YOU
                            p with your skills
                            p.hidden Viens, on est bien
                        div
                            a(href="#jobs")
                                i.fa.fa-paper-plane-o
                    .member
                        img.hidden(title="Loïc data scientist" src="../images/team/florent-small-color.png" alt="Loïc data scientist image normal")
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Loïc data scientist image fun")
                        .descriptionPerson
                            p Loïc
                            p Data Scientist
                            p.hidden American Sandwiches Scientist
                        div                      
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter
                    .member
                        img.hidden(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, danseuse")
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Jean-Baptiste Daniel")
                        .descriptionPerson
                            p Lucien
                            p CEO
                            p.hidden Brain crawler
                        div                        
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter
                    .member
                        img.hidden(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, danseuse")
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Jean-Baptiste Daniel")
                        .descriptionPerson
                            p Florent Barre
                            p Chief Executive Officer
                            p.hidden Houblonphile
                        div
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter
                    
                    .member
                        img.hidden(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, danseuse")
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Jean-Baptiste Daniel")
                        .descriptionPerson
                            p Jean-Baptiste Daniel
                            p Chief Executive Officer
                            p.hidden Surf sur Git comme sur les vagues
                        div
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter
                    .member
                        img.hidden(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, danseuse")
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Jean-Baptiste Daniel")
                        .descriptionPerson
                            p Maxime Beylot
                            p Chief Customer Officer
                            p.hidden Social man
                        div
                            a(href="https://www.linkedin.com/in/florentbarre" target="_blank")
                                i.icon-linkedin
                            a(href="https://twitter.com/barreflorent" target="_blank")
                                i.icon-twitter
                    .member
                        img.hidden(title="Alice Le Corre" src="../images/team/florent-small-color.png" alt="Alice Le Corre, danseuse")
                        img(title="Jean-Baptiste Daniel" src="../images/team/jean-baptiste-small-color.png" alt="Jean-Baptiste Daniel")
                        .descriptionPerson
                            p Pierre
                            p Référénceur
                            p.hidden coucou
                        div
                            a(href="https://www.linkedin.com/in/maxime-beylot-6b00525b" target="_blank")
                                    i.icon-linkedin
                    
        #jobs
            .container
                .content
                    h2 JOB
                        span S
                    p Nous cherchons des gens, 
                        strong créatifs, innovant, curieux, ambitieux 
                        | et ultra 
                        strong mobiles 
                        | adaptés à notre monde qui est un monde d’acceleration; et cela quelque soit leur background. Des profils qui comme chaque membre de l’équipe vivent dans un 
                        strong désir omniprésent d’agir.

                    a(href="#sayhello")
                        button POSTULER

                    p.linkedIn Suivez-nous sur 
                        strong Linked In 
                        | pour voir nos dernières offres d'emploi
          

                    
                    a(href="https://www.linkedin.com/company/10114882" target="_blank")
                        i.fa.fa-linkedin-square

        #sayhello
            .container
                .content
                    h2 SAY HEL
                        span LO
                    ul
                        li
                            form(action='https://formspree.io/info@quorum-impact.com', method='post')
                                div.input
                                    input(type='email', name="_replyto", placeholder='Email', required)
                                    .border-input.red
                                div.input
                                    input(name='name' type="text" placeholder="Name/Nom")
                                    .border-input.red
                                div.input
                                    textarea(name='message' rows="6" placeholder="Message", required)
                                    .border-textarea.red
                                input(type="hidden" name="_subject" value="Contact from quorum-impact.com")
                                input(type="text" name="_gotcha" style="display:none")
                                input(type="hidden" name="_next" value="//quorum-impact.com/")
                                p
                                    button(type='submit' value="Send") GO !
                        li
                                                     
                            ul
                                li
                                    a(href='//facebook.com/quorumimpact' target="_blank")
                                        i.fa.fa-facebook-square
                                li
                                    a(href='//twitter.com/quorumimpact' target="_blank")
                                        i.fa.fa-twitter-square
                                li
                                    a(href='//linkedin.com/company/10114882' target="_blank")
                                        i.fa.fa-linkedin-square
                                li
                                    a(href='//google.com/+Quorumappsdata' target="_blank")
                                        i.fa.fa-google-plus-square
                                li
                                    a(href='//instagram.com/quorumteam/' target="_blank")
                                        i.fa.fa-instagram
                                
                                p Retrouvez sur notre blog les 
                                    strong publications 
                                    | de l’équipe Quorum, de nos invites et amis.
                                   
                                a(href="https://medium.com/@quorumblog" target="_blank")
                                    button BLOG
                    