extends ./layout.jade
block vars
    - var pageTitle = 'FAQ'
block content
    .big#reset
    .clearfix
    header#faq.small
    main#pageFaq
        section#faq
            h1
             span#titleFaq FAQ
            .subtitle
              span Vous avez des questions ? <br/>  Vous trouvez peut-être la réponse ici &nbsp;
              i.em.em-point_down
            .container
                ul
                    li
                        p.first Qu’est-ce que Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Quorum est une startup de technologie de mobilisation. Nous construisons une application qui a pour ambition de <b>changer la façon de s’engager</b> et de mobiliser en utilisant les dernières technologies de la <b>data et de l’Intelligence artificielle</b>.
                    li
                        p.first Pourquoi faire du terrain et s'équiper avec Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Le <b>face-à-face</b> est le moyen le plus efficace d’engager les individus (lire notre article …) Un mouvement commence toujours par une rencontre, une discussion qui en engage d’autres. <br/> Quorum aide à organiser efficacement ces rencontres et vous focaliser sur ce qui est vraiment important sur le terrain. <br/> Quorum équipe les individus de votre équipe, ce qui les <b>rends collectivement extrêmement puissants.</b> <i class="em em-loudspeaker"></i> <br/> Quorum permet de créer une force collective, qui ne se <b>soucie plus de la logistique</b>, <b>des remontées d’informations</b> et du process pour se focaliser sur la rencontre et ainsi humaniser et  vivre l'échange sur le terrain.
                        
                    li
                        p.first Quorum est-ce juste un logiciel ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Oui et Non. <br/><br/> <b>OUI.</b>  Dans la mesure où nous n’agissons pas sur votre stratégie et vos décisions. <b>Nous ne sommes pas une entreprise de conseil</b> ou de consulting mais un <b>éditeur d’applications et de technologie.</b> <br/> Nous fournissons des applications qui simplifient vos actions de mobilisation, ainsi que de l’analyse en amont et en aval (des données que vous avez collectées). Ces analyses sont des clés de lecture pour vous, vous permettent de bénéficiez de plus d’éléments et de temps pour comprendre les enjeux et votre organisation MAIS in fine les stratégies et les décisions vous appartiennent.<b> Vos données, vos décisions.</b> <br/><br/><b>NON.</b> Dans la mesure où nous fournissons le service lié à notre logiciel. Nous faisons de nos clients une priorité et donc nous nous soucions de l’adoption de nos outils et du succès de nos utilisateurs. Pour cela  nous avons une équipe dédiée dont chaque membre est là pour vous fournir de l’aide à la mise en oeuvre de vos actions, du “training”, du support quand vous en avez besoin. <br/> Vous disposez d'une ligne direct et d’un interlocuteur unique.
                    li
                        p.first Tout ne m’intéresse pas dans la solution Quorum ? Est-il possible de souscrire qu’à une fonctionnalité ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Oui, c’est possible. Vous pouvez n’utiliser qu’une brique ou une autre des applications si vous le souhaitez selon votre intérêt ou votre momentum d'action. <br/> N’hésitez pas à contacter  <a href="mailto:mb@quorumapp.co">Maxime</a> pour plus d’informations.
                    li
                        p.first Quorum agit-il sur la stratégie de mes actions ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Non, nous ne nous substituons pas un à un directeur de campagne, un candidat, un directeur de la communication, à votre équipe, ou à l’agence de consultant, communication qui vous accompagne. Nous fournissons les outils pour faire que la magie opère et les analyses pour vous donner plus d’éléments de compréhension mais ce sont <b>vos décisions</b>. Nous disposons par ailleurs d’un réseau d’agence partenaires. <br/> Pour connaître la liste complète des partenaires contactez  <a href="mailto:contact@quorumapp.co">Florent</a>.
                    li
                        p.first Est-ce que Quorum respecte la vie privée et respecte mes données ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Oui, c’est important, nous sommes attachés au <b>respect de l’individu dans sa vie privée et intime</b> et au respect de la réglementation de l’usage des données. <br/> Nous construisons des applications qui répondent aux principes du “<b>Privacy by Design</b>’. <br/> Nous disposons d’un <b>correspondant informatique et libertés</b> (CNIL). Il est disponible pour répondre à toutes questions relatives aux données et à leur traitement chez Quorum <a href="mailto:contact@quorumapp.co">ici</a>. <br/> Enfin, les données individuelles ne sont pas une fin en soi dans nos applications. Elles sont souvent agrégées et ne sont qu’un moyen à l’action concrète.  Les nouvelles technologies sont une opportunité, nous en avons un usage positif.
                    li
                        p.first Qui est propriétaire des données individuelles collectées ?
                            i.fa.fa-angle-double-down.blueFaq
                        p VOUS. Ce sont <b>VOS DONNEES</b>. <br/> Elles sont le fruit du travail des membres de votre “équipe” sur l’application. Ils collectent des informations individuelles (donateurs, soutiens, personnes rencontrées etc. ). Nous n’avons pas la main et d’accès sur ces données. Elles sont hébergées sur des serveurs sécurisés en Europe. <br/> À tout moment, vous pouvez exporter vos données, les récupérer ou les détruire. <br/> Pour toute question relative à la sécurité et à la protection des données, contactez Jean-Baptiste <a href="mailto:contact@quorumapp.co">ici</a>. 
                    li
                        p.first Il y a-t-il une taille critique à l’utilisation de l'application ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Non aucune. <br/> Ce qui est beau c’est quand une petite brindille devient une grande forêt. <i class="em em-evergreen_tree"></i>
                    li
                        p.first Est-ce que c’est cher ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Non, <a href="mailto:sales@quorumapp.co">contactez-nous</a> vous verrez ! It will knock your socks off. <i class="em em-mans_shoe"></i> 
                    li
                        p.first J’ai peur de l’adoption de ces outils par mes équipes, ai-je raison ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Le taux d’équipement de smartphones est en progression constante (+28 points en 2015) et il atteint aujourd’hui 69% tout âge confondu. <i class="em em-iphone"></i> <br/> La conscience que le numérique n’est plus une pièce d’une puzzle mais un point central dans nos vie quotidiennes en simplifiant nos usages progresse. <br/> Nos applications sont là pour simplifier et décupler le potentiel du travail de vos bénévoles, militants, équipes. Nous ne construisons pas uniquement des applications pour le “Top Management” des organisations mais pour chaque membre de l’équipe, qu’ils économisent temps et efforts pour conserver leurs ressources sur l’action concrète. <br/><br/> Pour simplifier l’adoption des outils nous agissons sur : <br/><br/>- <b>Le support et les bonnes bratiques</b> <i class="em em-thumbsup"></i> <br/> - <b>L’adoption et la facilité d’utilisation</b> : Nous construisons des interfaces avec des spécialistes du facteur humain (<a href="http://www.akiani.fr/">Akiani</a>) pour que les applications soient le plus simples, le plus fluides mais aussi le plus divertissantes possibles à l’ utilisation. Tout en respectant les conditions de travail sur le terrain (lisibilité, sauvegarde de la batterie) <br/><br/> <b>Cependant nous travaillons également en plus</b> du support tablette, PC, et mobile au <b>format papier</b> <i class="em em-pencil"></i>. Il suffit ensuite de retranscrire ou faire retranscrire le travail sur la web application ou l’application mobile. <br/> Travailler en binôme (une personne équipée / une personne non équipée) est aussi une solution. <br/> Discuter-en avec un de nos <a href="mailto:contact@quorumapp.co">“field officer” (agent de terrain)</a> 
                    li
                        p.first Les applications fonctionnent-elle en faible couverture réseau ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Nos applications sont testées et fonctionnent en faible couverture réseau, en edge. <br/>Lorsqu’elles n’utilisent pas la géolocalisation elles disposent de technologie qui permettent d’économiser la batterie.

                    li
                        p.first Sur quel support fonctionne Quorum ? Tablette ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Les applications mobiles fonctionnent sur IOS et Android. <i class="em em-iphone"></i>  Oui une version tablette est disponible. <br/>Les applications web sur un PC classique avec une connexion internet.

                    li
                        p.first Qui compose l’équipe de Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Chez Quorum, non seulement nous croyons en la convergence des secteurs et des intelligences pour trouver de nouvelles solutions aux problèmes mais en plus nous l’incarnons. <br/>Nous avons une équipe diverse composée de <b>data scientists</b>, <b><a href="mailto:contact@quorumapp.co">data analystes</a></b>, <b><a href="mailto:contact@quorumapp.co">d’ingénieurs</a></b>, de <b>designer</b> et d'<b>expert en facteur humain</b>, chercheurs en sciences sociales, et "<b>field officer</b>" (agent de terrains) spécialiste de la mobilisation sur le terrain et des mouvements.<br/><br/> Une partie de notre équipe est basée dans un centre de recherche à l’Ecole Nationale Supérieure de  Cognitique  (<a href="http://www.ensc.fr/">ENSC</a>). <br/> <br/> <i class="em em-point_right"></i> Découvre en plus sur notre équipe <a href="https://medium.com/quorum-blog" target="_blank">ici</a><br/> Rencontre l’équipe sur <a href="https://www.instagram.com/quorumteam/" target="_blank">Instagram</a> <br/>  Voir nos dernières <a href="../fr/news.html">actualités</a>

                    li
                        p.first Je veux rejoindre l’équipe de Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Tu es le bienvenue !<i class="em em-dancer"></i> <br/> #1 : Avant tout, on t'encourage à lire <a href="#">cet article</a> sur notre blog  <br/> #2 : Ensuite, à nous rejoindre sur les réseaux et en particulier sur <a href="https://www.linkedin.com/company/quorum-apps">LinkedIn</a> où nous publions nos offres. <br/> #3 : Enfin, à écrire à l’<a href="mailto:contact@quorumapp.co">équipe</a>, sans lettre de motivation type sil te plait mais avec quelques “bullet points”, qui nous expliquent pourquoi ca fait sens pour toi de nous rejoindre.
                    li
                        p.first D’autres mots pour décrire Quorum ?
                            i.fa.fa-angle-double-down.blueFaq
                        p <b>Grassroots</b> : C’est un terme anglo-saxon qui décrit des actions qui partent, prennent en compte et engage la base, dans une logique horizontale. On parle aussi de “Ground up Strategy"  L’application Quorum n’est pas seulement réservée au top management des organisations. Elle est faite dans cet esprit,  pour équiper aussi les bénévoles, militants et équipes sur le terrain avec un outil qui créé une véritable force mobilisatrice depuis le terrain. <br/><br/><b>Community Organising</b> : Là aussi un terme anglo saxon pour décrire une méthode, celle de s’organiser en groupe pour agir. Il ne faut pas prendre le terme de communauté ici dans le sens premier en langue française. Mais dans le sens de “community” ; c’est à dire un ensemble de gens qui veulent <b>faire ensemble</b>, innover ensemble, qui ont désir de faire bouger les choses et pense qu’ils seront plus fort en s’organisant en groupe. <br/>Le numérique change la donne du community organizing. Parce que désormais s’organiser dépasse l’échelle d’un quartier. <br/><br/><b>Empowerment</b> : Donner des responsabilités à chacun. Multiplier les petites actions. Ce sont ces petites actions ensemble qui font la différence.<br/><br/> Logiciel de campagne électoral <br/><br/> <b>CRM pour l’action civique</b> <br/><br/><b>Outil de concertation pour entreprise ou collectivité</b> <br/><br/> <b>Mobilise beyond expectations</b> : Mobiliser au delà des attentes. C’est notre modjo.

                    li
                        p.first Et Quorum dans le future ?
                            i.fa.fa-angle-double-down.blueFaq
                        p Accrochez-vous parce que l'on vous prépare plein de surprises <i class="em em-fire"></i>
                    li
                        p.first Je n’ai pas trouvé la réponse à ma question ?
                            i.fa.fa-angle-double-down.blueFaq
                        p <i class="em em-raised_hands"></i> Un membre de l’équipe aura sans aucun doute la réponse ! <br/> Contactez-nous au <a href="tel:+33179734004">+33 (0) 1 79 73 40 04</a> <br/> ou par mél à <a href="mailto:contact@quorumapp.co">contact@quorumapp.co</a>


















