extends ./layout.jade
block vars
    - var pageTitle = 'Accueil'
block content
    header#reset.big.
      .container
    main
        section#product
            .container

                //- img(src="../images/home/icon-header.png")

                #testimony-1.active

                    h2 L'application qui a permis à l'équipe de Sébastien de <span class="underline">mobiliser</span> &nbsp;
                        span.highlight-span  plus efficacement,  <span class="underline">rue après rue</span> , <span class="underline">citoyen après citoyen</span>.

                    span.quote L'équipe derrière Sébastien Saint Pasteur est l'une des équipes qui a utilisé Quorum dans leurs actions de mobilisation au quotidien ; les rendant plus fluides et plus efficaces pour ainsi se focaliser sur l’essentiel : mobiliser pour l'élection.
                    div#debbug 


                #testimony-2
                    h2  L’application qui permet  de construire une équipe de <span class="underline">bénévoles impliqués qui sensibilise</span>  et <span class="underline">écoute</span> chaque personne rencontrée.
                    span.quote  Les Jours heureux est un mouvement qui fait intervenir différentes organisations de la société civile. (Génération cobaye, Association des Paralysés de France etc.)
                    
                #testimony-3
                    h2  L’application qui permet de proposer à ses clients une application pour <span class="underline">mobiliser sur le terrain à chaque instant</span> , en délivrant <span class="underline">la bonne information</span>.
                    span.quote  Tell & Charrier est une agence de communication spécialisée dans le secteur public qui intègre Quorum à son offre. Ils ont compris qu’aujourd’hui s’équiper des dernières technologies n’est plus simplement une pièce du puzzle, mais un bloc structurant de la stratégie, quelque soit la taille de l'organisation.
              
                hr.hr-testimony
                .testimonies
                    .person-testimony.active.person-1
                        img(src="../images/header/photo-testimony2.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Sébastien Saint Pasteur
                            p.testimony-job Conseiller Départemental
                    .person-testimony.person-2
                        img(src="../images/header/photo-JHP.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Les jours heureux
                            p.testimony-job Association
                    .person-testimony.person-3
                        img(src="../images/header/photo-testimony3.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Agence Tell & Charrier
                            p.testimony-job Communication

                .testimonies-responsive
                    ul
                        li
                            .person-1
                                p
                                    span.icones-1.fa.fa-circle
                        li
                            .person-2
                                p
                                    span.icones-2.fa.fa-circle-o
                        li
                            .person-3
                                p
                                    span.icones-3.fa.fa-circle-o
        section#target.hide
            .container#target-container
                h2 <span class='bold'>MOBILISER</span> SUR LE TERRAIN, <span class='bold'>PLUS FORT</span>
                ul
                    li(onclick="location.href='http://google.fr';")
                      p.objectif Equipes de campagne
                      p.target-name Candidats aux élections et collectifs
                      hr
                      p.description Je veux <span class='bold'> mobiliser les citoyens et mes électeurs.</span>
                      p.keywords Mobiliser les électeurs
                    li(onclick="location.href='http://google.fr';")
                      p.objectif  Associations, ONG
                      p.target-name  Associations, mouvements, syndicats, et game changers
                      hr
                      p.description Je veux <span class='bold'> sensibiliser le public à ma cause, recruter de nouveaux bénévoles ou donateurs.</span>
                      p.keywords Sensibiliser, Recruter bénévoles et donateurs
                    li(onclick="location.href='http://google.fr';")
                      p.objectif Collectivités
                      p.target-name Administration publique et groupes privés
                      hr
                      p.description Je veux <span class='bold'> gérer efficacement la relation citoyenne, interroger le terrain et analyser.</span>
                      p.keywords Gérer la relation citoyenne, Interroger, Analyser
                    li(onclick="location.href='http://google.fr';")
                      p.objectif Agences & consultants
                      p.target-name  Communication, data, indépendants
                      hr
                      p.description Je veux <span class='bold'> intégrer Quorum à mon offre de service ou devenir partenaire.</span>
                      p.keywords Devenir Partenaire
                        
        section#schema.hide
            .container
                span.img-schema
                    img(src="../images/schema-4.png")
            
            
        section#icons.hide
            .container

                h3 <span class='bold'>1 application web</span> pour s’<span class='bold'>organiser</span>, <span class='bold'>analyser</span> et <span class='bold'>communiquer</span>. 
                h3 <span class='bold'>1 application mobile</span> pour <span class='bold'>révéler tout le potentiel de votre équipe.</span>
                ul
                    li#icon-1
                        img(src="../images/icons/icon1.png")
                        p Data-ciblage <br/><br/>
                    li#icon-2
                        img(src="../images/icons/icon2.png")
                        p Organiser son mouvement
                    li.active#icon-3
                        img(src="../images/icons/icon3.png")
                        p Mobiliser sur le terrain
                    li#icon-4
                        img(src="../images/icons/icon4.png")
                        p Analyser le besoin 

                                
        section#mobile
            .container        
                .content#content-icon-1
                    h2 Analyser 
                    ul.sentence
                        li.part Votre progression et les retours du terrain
                    h2 Organiser
                    ul.sentence 
                        li.part Définir et attribuer des zones d'actions 
                        li.part Définir des objectifs (donation, consultation, sensibilisation)
                        li.part Personnalisez les questionnaires sur l’application mobile
                    h2 Communiquer
                    ul.sentence.last
                        li.part Disposer d’une base unique, pérenne et réutilisable
                        li.part Personnaliser le "QG de l’application” avec des éléments d’information pour le terrain
                        
                .content#content-icon-2.active
                    h2 Créer une force collective
                    ul.sentence
                        li.part Connexion sécurisée
                        li.part Fonctionnement en faible couverture réseau
                        li.part Privacy by design
                    h2 Mobiliser à chaque instant
                    ul.sentence
                        li.part Ajout de soutiens, donateurs, reports de problème à chaque instant
                        li.part Disposer de questionnaire personnalisée
                        li.part Envoyer directement l’information à la personne rencontrée
                    h2 Engager son équipe
                    ul.sentence.last
                        li.part Toute l’information pour mobiliser dans le QG mobile
                        li.part Suivie de la progression de l’organisation, et de son action
                        li.part Gestion des disponibilité de l'équipe

                .content#content-icon-3
                    h2 Mobiliser partout à chaque instant
                    div.sentence
                        span.part grâce à l'application mobile
                    h2 Récolter des données qualifiées  
                    div.sentence
                        span.part ou posez simplement des questions
                    h2 Recueillir les enjeux particulier du terrain
                    div.sentence
                        span.part et organiser un suivi par personne
                        
                .content#content-icon-4
                    h2 Test du jquery icone4
                    div.sentence
                        span.part grâce à l'application mobile
                    h2 Test du jquery icone4  
                    div.sentence
                        span.part ou posez simplement des questions
                    h2 Test du jquery icone4
                    div.sentence
                        span.part et organiser un suivi par personne
            .clearfix
        .clearfix


        section#get-demo.hide
            .container
                button.btn
                  a(href="https://quorum-impact.us12.list-manage.com/subscribe?u=8d7c7595072992d8808c7993d&id=913c162260" target="_blank").get-demo DEMANDER UNE DEMO EN 1 CLIC !
        .clearfix

        section#faq-news.hide

            .container#preview-news
                span.derniere-actu
                    h2 LES DERNIERES ACTUALITÉS
                ul.news-img

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/impacthub.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/sudouest.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/imgres-1.jpg" )


                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/websummit.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/fdsolutons2.png" ).ok

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/challenges2.png" )
                    
                    a(href="../fr/news.html" target="_blank")
                        p ▸ Découvrir les nouvelles actualités

                ul.news-responsive 
                    li
                      a(href="../fr/news.html") Impact Hub Singapore 

                    li
                      a(href="../fr/news.html") Sud Ouest 

                    li
                      a(href="../fr/news.html") La Tribune 


                    li
                      a(href="../fr/news.html") Web Summit 

                    li
                      a(href="../fr/news.html") La France des Solutions 

                    li
                      a(href="../fr/news.html") Challenges
                    
                    a(href="../fr/news.html" target="_blank")
                        p.access-news ▸ Découvrir les nouvelles actualités

            .container#preview-faq
                span.question-freq
                    h2 QUESTIONS FRÉQUENTES
                
                ul
                    li
                        a(href="../fr/faq.html")
                            p.preview-question What is Quorum ?
                            p.answer Quorum is a technology startup for civic-mobilization.
                    li
                        a(href="../fr/faq.html")
                            p.preview-question Is Quorum expensive ?
                            p.answer Every movement deserves its chance to get its tools and every campaign has its start point. So we adapat along to a pay as you grow principle.
                    li
                        a(href="../fr/faq.html")
                            p.preview-question What about my privacy and the data we collect ?
                            p.answer Protect rights and protect privacy is more than a concern, it’s one of our core value. We have a legal expert in the team. He can answer all you question : cil@quorum-impact.com Our servers are located in Europe.


                        a(href="../fr/faq.html")
                            p.faq-access ▸ Toutes les questions fréquentes
                    .clearfix
                .clearfix
        
        .clearfix

        
        section#contact.hide
            .container#form-contact
                .formulaire
                    span.titre-formulaire
                        h2 ECRIVEZ-NOUS
                    

                    form(action='https://formspree.io/info@quorum-impact.com', method='post')

                        input(name='name' type="text" placeholder="Votre nom")
                        .border-input.blue

                        input(type='email', name="_replyto", placeholder='Votre Email', required)
                        .border-input.blue

                        textarea(name='message' rows="6" placeholder="Votre Message", required)
                        .border-textarea.blue
                        input(type="hidden" name="_subject" value="Contact from quorum-impact.com")
                        input(type="text" name="_gotcha" style="display:none")
                        input(type="hidden" name="_next" value="//quorum-impact.com/")
                        p
                            button.blue(type='submit' value="Send") ENVOYER


            .container#adress-postale
                .contact-postal
                    #cadre-pop
                        
                        span.titre-postal
                            h2 RENDEZ-NOUS VISITE
                        
                        
                    div#carte
                    
                    p.telephone
                        span.phone
                            img(src='../images/icons/phone.svg', alt='Phone')
                        a(href="tel:+33179734004") +33 1 79 73 40 04
                    p
                        a(href="mailto:welcome@quorum-impact.com") welcome@quorum-impact.com
                    p.adresse-bordeaux
                        a(href="https://www.google.fr/maps/place/9+Rue+de+Condé,+33000+Bordeaux/@44.8435887,-0.5755025,17z/" target="_blank") 9 rue de Condé <br/> 33000 Bordeaux
                    p.adresse-paris
                        a(href="https://www.google.fr/maps/place/124+Avenue+de+Villiers,+75017+Paris/@48.8854713,2.2930888,17z" target="_blank") 124 avenue de Villiers <br/> 75017 Paris
        .clearfix



        section#bandeau-newsletter.hide

            form(action="page-traitement-newsletter",method="post")
                .description-newsletter
                    h1.newsletter-msg Recevez nos actualités et publications sur votre boîte mail.
                    //- h2.newsletter-msg En vous abonnant à notre Newsletter mensuelle
                .form-newletter
                    .input-newsletter
                        input(type='email', name="mail-newsletter", placeHolder="Votre adresse mail", required)
                    .abonnement
                        button.btn.abonnement-btn RECEVOIR

        .clearfix

        section#social.hide

            h1 RESTEZ CONNECTÉ A QUORUM 

            ul
                li
                    a(href="https://www.facebook.com/quorumhq/" target="_blank")
                        img(src="../images/social/facebook.png" )
                li 
                    a(href="https://twitter.com/quorumhq" target="_blank")
                        img(src="../images/social/twitter.png" )
                li
                    a(href="https://www.linkedin.com/company/quorum-apps" target="_blank")
                        img(src="../images/social/linkedin.png" )
                li 
                    a(href="https://www.instagram.com/quorumteam/" target="_blank")
                        img(src="../images/social/instagram.png" )            
                li 
                    a(href="https://plus.google.com/+Quorumappsdata" target="_blank")
                        img(src="../images/social/googleplus.png" )                  
                li 
                    a(href="https://medium.com/quorum-blog" target="_blank")
                        img(src="../images/social/medium.png" )


                    



            div.clearfix