extends ./layout.jade
block vars
    - var pageTitle = 'Accueil'
block content
    header#reset.big.
      .container
    main
        section#product
            .container

                img(src="../images/home/icon-header.png")

                #testimony-1.active

                    h2 L'application qui a permis à l'équipe de 
                        span.underline mobiliser 
                        span.highlight-span plus efficacement,  rue après rue, citoyen après citoyen.

                    span.quote L'équipe derrière Sébastien Saint Pasteur est l'une des équipes qui a utilisé Quorum dans leurs actions de mobilisation au quotidien ; les rendant plus fluides et plus efficaces pour ainsi se focaliser sur l’essentiel : la rencontre.

                #testimony-2
                    h2  Lorem ipsum dolor sit amet
                    span.quote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis harum, at facere voluptate, nulla consequuntur illum. Qui accusantium, atque maxime aperiam harum dolores aliquid! Et perspiciatis adipisci quo sit iure.
                    
                #testimony-3
                    h2  Lorem ipsum dolor sit amet
                    span.quote  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum numquam earum vel accusantium corporis recusandae quam, dolorum, sed omnis repellat maiores temporibus consequuntur officiis veniam rem magni eius exercitationem? Aut.
              
                hr.hr-testimony
                .testimonies
                    .person-testimony.active.person-1
                        img(src="../images/header/photo-testimony2.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Sébastien Saint
                            p.testimony-job Conseiller
                    .person-testimony.person-2
                        img(src="../images/header/photo-testimony2.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Bernard Claverie
                            p.testimony-job Président
                    .person-testimony.person-3
                        img(src="../images/header/photo-testimony2.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Loïc Rakotozafy
                            p.testimony-job Breton

                .testimonies-responsive
                    ul
                        li
                            .person-1
                                p
                                    span.icones-1.fa.fa-circle
                        li
                            .person-2
                                p
                                    span.icones-2.fa.fa-circle-o
                        li
                            .person-3
                                p
                                    span.icones-3.fa.fa-circle-o
        section#target.hide
            .container#target-container
                h2 MENEZ DES CAMPAGNES DE TERRAIN EFFICACES, QUI IMPLIQUENT VOS EQUIPES ET ENGAGENT LES INDIVIDUS.
                ul
                    li(onclick="location.href='http://google.fr';")
                      p.objectif Equipes de campagne
                      p.target-name Candidats aux élections et collectifs
                      p Je mobilise les électeurs pour gagner l’élection.
                    li(onclick="location.href='http://google.fr';")
                      p.objectif  Associations, ONG
                      p.target-name  Associations, mouvements, syndicats, et individuels
                      p Je sensibilise le public à ma cause, recrute de nouveaux bénévoles ou donateurs.
                    li(onclick="location.href='http://google.fr';")
                      p.objectif Collectivités
                      p.target-name Administration publique, locales et groupes privés
                      p Je  gère efficacement la relation citoyenne, interroge le terrain et informe.
                    li(onclick="location.href='http://google.fr';")
                      p.objectif Agences de communication, consultants
                      p.target-name  Agence de communication, consultant data, consultants indépendants
                      p J'intègre Quorum à mon offre de service ou deviens partenaire.
                        
        section#schema.hide
            .container
                span.img-schema
                    img(src="../images/schema.png")
            
            
        section#icons.hide
            .container
                ul
                    li#icon-1
                        img(src="../images/icons/icon1.png")
                        p Data-ciblage
                    li#icon-2
                        img(src="../images/icons/icon2.png")
                        p Organiser son mouvement
                    li.active#icon-3
                        img(src="../images/icons/icon3.png")
                        p Mobiliser sur le terrain
                    li#icon-4
                        img(src="../images/icons/icon4.png")
                        p Analyser le besoin 
                                
        section#mobile
            .container        
                .content#content-icon-1
                    h2 Test du jquery icone1
                    div.sentence
                        span.part grâce à l'application mobile
                    h2 Test du jquery icone1  
                    div.sentence
                        span.part ou posez simplement des questions
                    h2 Test du jquery icone1
                    div.sentence
                        span.part et organiser un suivi par personne
                        
                .content#content-icon-2
                    h2 Test du jquery icone2
                    div.sentence
                        span.part grâce à l'application mobile
                    h2 Test du jquery icone2
                    div.sentence
                        span.part ou posez simplement des questions
                    h2 Test du jquery icone2
                    div.sentence
                        span.part et organiser un suivi par personne
                        
                .content#content-icon-3.active
                    h2 Mobiliser partout à chaque instant
                    div.sentence
                        span.part grâce à l'application mobile
                    h2 Récolter des données qualifiées  
                    div.sentence
                        span.part ou posez simplement des questions
                    h2 Recueillir les enjeux particulier du terrain
                    div.sentence
                        span.part et organiser un suivi par personne
                        
                .content#content-icon-4
                    h2 Test du jquery icone4
                    div.sentence
                        span.part grâce à l'application mobile
                    h2 Test du jquery icone4  
                    div.sentence
                        span.part ou posez simplement des questions
                    h2 Test du jquery icone4
                    div.sentence
                        span.part et organiser un suivi par personne
            .clearfix
        .clearfix

        section#faq-news.hide

            .container#preview-news
                h2 LES DERNIERES ACTUALITÉS
                ul.news-img

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/impacthub.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/sudouest.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/imgres-1.jpg" )


                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/websummit.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/fdsolutons2.png" ).ok

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/challenges2.png" )
                    
                    a(href="../fr/news.html" target="_blank")
                        p ▸ Découvrir les nouvelles actualités

                ul.news-responsive 
                    li
                      a(href="../fr/news.html") Impact Hub Singapore 

                    li
                      a(href="../fr/news.html") Sud Ouest 

                    li
                      a(href="../fr/news.html") La Tribune 


                    li
                      a(href="../fr/news.html") Web Summit 

                    li
                      a(href="../fr/news.html") La France des Solutions 

                    li
                      a(href="../fr/news.html") Challenges
                    
                    a(href="../fr/news.html" target="_blank")
                        p ▸ Découvrir les nouvelles actualités

            .container#preview-faq
                h2 QUESTIONS FREQUENTES
                
                ul
                    li
                        a(href="../fr/faq.html")
                            p.preview-question What is Quorum ?
                            p.answer Quorum is a technology startup for civic-mobilization.
                    li
                        a(href="../fr/faq.html")
                            p.preview-question Is Quorum expensive ?
                            p.answer Every movement deserves its chance to get its tools and every campaign has its start point. So we adapat along to a pay as you grow principle.
                    li
                        a(href="../fr/faq.html")
                            p.preview-question What about my privacy and the data we collect ?
                            p.answer Protect rights and protect privacy is more than a concern, it’s one of our core value. We have a legal expert in the team. He can answer all you question : cil@quorum-impact.com Our servers are located in Europe.


                        a(href="../fr/faq.html")
                            p.faq-access ▸ Toutes les questions fréquentes
                    .clearfix
                .clearfix
        
        .clearfix

        section#get-demo.hide
            .container
                h2 DÉCOUVREZ NOTRE SOLUTION
                button.btn
                  a(href="https://quorum-impact.us12.list-manage.com/subscribe?u=8d7c7595072992d8808c7993d&id=913c162260" target="_blank") DEMANDER UNE DEMO
        .clearfix
        
        section#contact.hide
            .container#form-contact
                h2 ECRIVEZ-NOUS

                form(action='https://formspree.io/info@quorum-impact.com', method='post')

                    input(name='name' type="text" placeholder="Name/Nom")
                    .border-input.blue

                    input(type='email', name="_replyto", placeholder='Email', required)
                    .border-input.blue

                    textarea(name='message' rows="6" placeholder="Message", required)
                    .border-textarea.blue
                    input(type="hidden" name="_subject" value="Contact from quorum-impact.com")
                    input(type="text" name="_gotcha" style="display:none")
                    input(type="hidden" name="_next" value="//quorum-impact.com/")
                    p
                        button.blue(type='submit' value="Send") ENVOYER


            .container#adress-postale
                #cadre-pop


                    h2 DITES-NOUS BONJOUR

                    p
                        a(href="tel:+33179734004") +33 1 79 73 40 04
                    p
                        a(href="mailto:welcome@quorum-impact.com") welcome@quorum-impact.com
                    p
                        a(href="https://www.google.fr/maps/place/9+Rue+de+Condé,+33000+Bordeaux/@44.8435887,-0.5755025,17z/" target="_blank") 9 rue de Condé - 33000 BORDEAUX
                    p
                        a(href="https://www.google.fr/maps/place/124+Avenue+de+Villiers,+75017+Paris/@48.8854713,2.2930888,17z" target="_blank") 124 avenue de Villiers - 75017 PARIS
        .clearfix



        section#bandeau-newsletter.hide

            form(action="page-traitement-newsletter",method="post")
                .description-newsletter
                    h1 RETROUVEZ TOUTES LES NEWS QUORUM 
                    h2.newsletter-msg En vous abonnant à notre Newsletter mensuelle
                .form-newletter
                    .input-newsletter
                        input(type='email', name="mail-newsletter", placeHolder="Votre adresse mail", required)
                    .abonnement
                        button.btn.abonnement-btn S'ABONNER

        .clearfix

        section#social.hide
            h1 RESTEZ CONNECTÉ A QUORUM 

            ul
                li
                    a(href="https://www.facebook.com/quorumhq/" target="_blank")
                        img(src="../images/social/facebook.png" )
                li 
                    a(href="https://twitter.com/quorumhq" target="_blank")
                        img(src="../images/social/twitter.png" )
                li
                    a(href="https://www.linkedin.com/company/quorum-apps" target="_blank")
                        img(src="../images/social/linkedin.png" )
                li 
                    a(href="https://www.instagram.com/quorumteam/" target="_blank")
                        img(src="../images/social/instagram.png" )            
                li 
                    a(href="https://plus.google.com/+Quorumappsdata" target="_blank")
                        img(src="../images/social/googleplus.png" )                  
                li 
                    a(href="https://medium.com/quorum-blog" target="_blank")
                        img(src="../images/social/medium.png" )               
                    



            div.clearfix