extends ./layout.jade
block vars
    - var pageTitle = 'Accueil'
block content
    header#reset.big.
      .container
    main
        section#product
            .container

                //- img(src="../images/home/icon-header.png")

                #testimony-1.active

                    h2 <span class="citation">"</span> Notre équipe <span class="underline">mobilise</span>
                        span.highlight-span &nbsp; plus efficacement,  <span class="underline">rue après rue</span>, <span class="underline">citoyen après citoyen</span>.

                #testimony-2
                    h2  <span class="citation">"</span> Chaque bénévole est désormais un <span class="underline">acteur de la mobilisation</span>  et fait grossir notre mouvement.
                    
                #testimony-3
                    h2  <span class="citation">"</span> Mes clients disposent des dernières technologies pour <span class="underline">cibler les zones</span> où agir et faire que chaque intéraction compte.
              
                hr.hr-testimony
                .testimonies
                    .person-testimony.active.person-1
                        img(src="../images/header/photo-testimony2.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Sébastien Saint Pasteur
                            p.testimony-job Mobiliser pour l'election
                    .person-testimony.person-2
                        img(src="../images/header/photo-JHP.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Graine de développement
                            p.testimony-job Sensibiliser le public
                    .person-testimony.person-3
                        img(src="../images/header/photo-testimony3.png").photo-testimony
                        .infos-testimony
                            p.testimony-name Agence Tell & Charrier
                            p.testimony-job Outiller numériquement le terrain

                .testimonies-responsive
                    ul
                        li
                            .person-1-action
                                p
                                    span.icones-1.fa.fa-circle
                        li
                            .person-2-action
                                p
                                    span.icones-2.fa.fa-circle-o
                        li
                            .person-3-action
                                p
                                    span.icones-3.fa.fa-circle-o
                .input-form
                    .abonnement
                        button.btn
                            a(href="https://quorum.typeform.com/to/GkkXDe" target="_blank")  OBTENIR UNE DÉMO


        section#target.hide
            .container
                .left-col
                    h1 L'application de mobilisation pour le terrain, pour vous et vos équipes

                    span.illustration
                        img(src="../images/home/illustration.png", alt="#")
        
                .right-col
                    ul
                        li
                            h2 Équipe de campagne
                            p Candidats aux élections et collectifs
                            p.link
                                a(href="https://quorum.typeform.com/to/AQL2Nm" target="_blank") Mobiliser les citoyens et mes électeurs &nbsp;  > 
                        li
                            h2 Association, ONG
                            p Game changers, mouvements et syndicats 
                            p.link
                                a(href="https://quorum.typeform.com/to/xZrSB4" target="_blank") Recruter bénévoles, donateurs. Sensibiliser &nbsp;  > 
                        li
                            h2 Établissements publics
                            p Collectivités et groupes privés 
                            p.link
                                a(href="https://quorum.typeform.com/to/QN2iIK" target="_blank") Organiser une consultation, informer &nbsp;  > 
                        li
                            h2 Agence & consultants
                            p Communication, data et indépendants
                            p.link
                                a(href="https://quorum.typeform.com/to/ze2Zsh" target="_blank") Intégrer Quorum à mon offre &nbsp;  > 
        .clearfix
                
                        
        section#schema.hide
            .container
                .left-col
                    h3 Mobiliser ne devrait pas être si compliqué.
                    p Traditionnellement ... 

                    .schema-img
                        img(src="../images/home/schema.png", alt="#")

                .right-col
                    p Avec Quorum ... 
                    .img-smartphone
                        img(src="../images/home/img-phone.png", alt="#")
                    h3 Anticiper, économiser temps et ressources, prendre en compte chacun.

                
            
            
        section#icons.hide
            .container
                h2 MOBILISER SUR LE TERRAIN, <b>PLUS FORT</b>
                .container
                    .left-col
                        img(src="../images/home/computer.png", alt="#")
                        h3 Une application web pour s'organiser, <br> analyser et communiquer. 
                    .right-col 
                        img(src="../images/home/smartphone.png", alt="#")
                        h3 Une application mobile pour outiller et révéler <br> le potentiel de chaque membre de l’équipe.
                ul
                    li#icon-1
                        p Cibler
                    li#icon-2
                        p Organiser
                    li.active#icon-3
                        p Mobiliser
                    li#icon-4
                        p Analyser

                                
        section#mobile
            .container
                .mobile-content       
                    .content#content-icon-1
                        h2 Prioriser et configurer son action
                        div.sentence
                            span.part Grâce aux technologies de la data
                        h2 Disposer de données cartographiées
                        div.sentence 
                            span.part &  de caractéristiques clées par territoire et individus
                        h2 Identifier les zones prioritaires où agir
                        div.sentence.last
                            span.part Et les thématiques associées
                            
                    .content#content-icon-2
                        h2 Attribuer des zones d’actions à chacun 
                        div.sentence
                            span.part Définisser des objectifs, générer des feuilles de route

                        h2 Personnaliser le QG de l’application
                        div.sentence
                            span.part  Avec des éléments d’information pour vos équipes
                        
                        h2 Personnaliser les questionnaires 
                        div.sentence.last
                            span.part Depuis la web app et pour l'application mobile

                        h2 Fonctionnalité de porte-à-porte (optionnelle)
                        div.sentence.last
                            span.part Rencontrer les individus là où ils se trouvent

                    .content#content-icon-3.active
                        h2  Inviter de nouveaux soutiens à rejoindre l’application mobile
                        div.sentence
                            span.part Pour constituer une véritable force collective
                        h2 Mobiliser partout, à chaque instant grâce à l’application mobile
                        div.sentence
                            span.part Recruter soutiens, donateurs, informations
                        h2  Envoyer directement des éléments aux individus rencontrés
                        div.sentence
                            span.part Immédiat depuis le smartphone
                        h2  Disposer d’une base unique et pérenne 
                        div.sentence
                            span.part Mailing, phoning, sms, nouvelle visite
                            
                    .content#content-icon-4
                        h2 Comprendre et lire les enjeux en temps réel 
                        div.sentence
                            span.part Grâce à des remontées et des données analysées
                        h2 Ajuster son action en cours
                        div.sentence
                            span.part Et bénéficier d'une photographie détaillée de son action
                        h2 Suivre la progression de son action
                        div.sentence
                            span.part Pour engager et motiver les équipes
                        h2 Et d'autres fonctionnalité à découvrir ! 
                        div.sentence
                            span.part Contactez-nous on vous en dira plus
            .clearfix
        .clearfix


        section#get-demo.hide
            .container
                h3 TOUT EST DIT, À VOUS DE JOUER ! 
                button.btn
                  a(href="https://quorum.typeform.com/to/GkkXDe" target="_blank").get-demo Utiliser Quorum
        .clearfix

        section#faq-news.hide

            .container#preview-news
                span.derniere-actu
                    h2 LES DERNIERES ACTUALITÉS
                    a(href="../fr/news.html" target="_blank")
                        p Découvrir les nouvelles actualités &nbsp; > 

                ul.news-img

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/impacthub.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/sudouest.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/imgres-1.jpg" )


                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/websummit.png" )

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/fdsolutons2.png" ).ok

                    li
                      a(href="../fr/news.html")
                          img(src="../images/home/challenges2.png" )
                    


                ul.news-responsive 
                    li
                      a(href="../fr/news.html") Impact Hub Singapore 

                    li
                      a(href="../fr/news.html") Sud Ouest 

                    li
                      a(href="../fr/news.html") La Tribune 


                    li
                      a(href="../fr/news.html") Web Summit 

                    li
                      a(href="../fr/news.html") La France des Solutions 

                    li
                      a(href="../fr/news.html") Challenges
                    
                    a(href="../fr/news.html" target="_blank")
                        p.access-news  Découvrir les nouvelles actualités &nbsp; >

            .container#preview-faq
                span.question-freq
                    h2 QUESTIONS FRÉQUENTES
                    a(href="../fr/faq.html")
                        p.faq-access  Toutes les questions fréquentes &nbsp; >
                
                ul
                    li
                        a(href="../fr/faq.html")
                            p.preview-question Qu’est-ce que Quorum ?
                            p.answer Quorum est une startup de technologie de mobilisation. Nous construisons une ..
                    li
                        a(href="../fr/faq.html")
                            p.preview-question Pourquoi faire du terrain et s'équiper avec Quorum ?
                            p.answer Le face-à-face est le moyen le plus efficace d’engager les individus ! Un mouvement commence toujours par une rencontre, une ..
                    li
                        a(href="../fr/faq.html")
                            p.preview-question Tout ne m’intéresse pas dans la solution Quorum ? Est-il possible de souscrire qu’à une fonctionnalité ? 
                            p.answer Oui, c’est possible. Vous pouvez n’utiliser qu’une brique ou une autre des applications si vous le souhaitez selon votre intérêt ou votre momentum d'action. N’hésitez pas à contacter <a href="mailto:mb@quorumapp.co">Maxime</a> pour plus d’informations.



                    .clearfix
                .clearfix
        
        .clearfix

        
        section#contact.hide
            .container#form-contact
                .formulaire
                    span.titre-formulaire
                        h2 ÉCRIVEZ-NOUS
                    

                    form(action='https://formspree.io/info@quorum-impact.com', method='post')
                        .champs
                            input(name='name' type="text" placeholder="Votre nom")
                            .border-input.blue

                            input(type='email', name="_replyto", placeholder='Votre Email', required)
                            .border-input.blue

                            textarea(name='message' rows="6" placeholder="Votre Message", required)
                            .border-textarea.blue
                            input(type="hidden" name="_subject" value="Contact from quorum-impact.com")
                            input(type="text" name="_gotcha" style="display:none")
                            input(type="hidden" name="_next" value="//quorum-impact.com/")
                        
                        button.blue(type='submit' value="Send") Envoyer


            .container#adress-postale
                .contact-postal
                    #cadre-pop
                        
                        span.titre-postal
                            h2 RENDEZ-NOUS VISITE
                        
                        
                    div#carte
                    
                    p.telephone
                        span.phone
                            img(src='../images/icons/phone.svg', alt='Phone')
                        a(href="tel:+33179734004") +33 1 79 73 40 04
                    p.adresse-mail
                        a(href="mailto:welcome@quorum-impact.com")<i class="fa fa-envelope-o" aria-hidden="true"></i>  info@quorumapp.co
                    p.adresse-bordeaux
                        span.building
                            img(src="../images/home/bordeaux.png", alt="Building")
                        a(href="https://www.google.fr/maps/place/9+Rue+de+Condé,+33000+Bordeaux/@44.8435887,-0.5755025,17z/" target="_blank") 9 rue de Condé <br/> 33000 Bordeaux
                    p.adresse-paris
                        span.building
                            img(src="../images/home/paris.png", alt="Building")
                        a(href="https://www.google.fr/maps/place/124+Avenue+de+Villiers,+75017+Paris/@48.8854713,2.2930888,17z" target="_blank") 124 avenue de Villiers <br/> 75017 Paris
        .clearfix



        section#bandeau-newsletter.hide

            form(action="page-traitement-newsletter",method="post")
                .description-newsletter
                    h1.newsletter-msg Recevez directement sur votre boîte mail nouvelles fonctionnalités et publications ! 
                    //- h2.newsletter-msg En vous abonnant à notre Newsletter mensuelle
                .form-newletter
                    .input-newsletter
                        input(type='email', name="mail-newsletter", placeHolder="Votre adresse mail", required)
                    .abonnement
                        button.btn.abonnement-btn Recevoir

        .clearfix

        section#social.hide

            h2 RESTEZ CONNECTÉ À QUORUM !

            ul
                li
                    a(href="https://www.facebook.com/quorumhq/" target="_blank")
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                li 
                    a(href="https://twitter.com/quorumhq" target="_blank")
                        <i class="fa fa-twitter" aria-hidden="true"></i>

                li
                    a(href="https://www.linkedin.com/company/quorum-apps" target="_blank")
                        <i class="fa fa-linkedin" aria-hidden="true"></i>

                li 
                    a(href="https://www.instagram.com/quorumteam/" target="_blank")
                        <i class="fa fa-instagram" aria-hidden="true"></i>           
                li 
                    a(href="https://plus.google.com/+Quorumappsdata" target="_blank")
                        <i class="fa fa-google-plus" aria-hidden="true"></i>                  
                li 
                    a(href="https://medium.com/quorum-blog" target="_blank")
                        <i class="fa fa-medium" aria-hidden="true"></i>


                    



            div.clearfix