doctype html
html(lang="fr")
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1')
        title #{pageTitle} - Quorum Impact
        meta(name='description' content='Quorum accompagne et aide au pilotage les collectivités territoriales, ONG, candidats aux élections et leaders d’influence dans leurs campagnes grâce aux Data & analytics')
        meta(name='author' content='Lisa Grenier - Quorum')
        meta(property="og:title" content="Quorum")
        meta(property="og:description" content="Data & Analytics, Communication ciblée, Pilotage; Quorum accompagne les collectivités territoriales, ONG, candidats aux élections et leaders d’influence")
        meta(property="og:type" content="WebSite")
        meta(property="og:url" content="https://www.quorum-impact.com/")
        meta(property="og:image" content="https://www.quorum-impact.com/images/icons/avatar-rs-2.png")
        meta(property="og:image:type" content="image/png")
        meta(property="og:site_name" content="Quorum Impact")
        meta(property="og:locale" content="fr_FR")
        meta(property="og:locale;alternate" content="en_US")
        link(rel="alternate" hreflang="en" href="https://www.quorum-impact.com/en")
        link(rel="icon" href="../../images/icons/favicon.ico")
        link(rel='stylesheet' href='../stylesheets/app.css')
        <!--[if IE 8]>
        link(rel='stylesheet' href='../stylesheets/ie.css')
        <![endif]-->
        <!--[if IE 9]>
        link(rel='stylesheet' href='../stylesheets/ie.css')
        <![endif]-->
    body
        nav#nav
            .content
                a(href='/').navbar-brand
                    img(src='../../images/logo/logo-white.svg' alt='Logo Quorum')
                button.nav-toggle
                    i.fa.fa-bars
                div.bar
                    ul.nav
                        li 
                            a(href='/#product') 
                                span Produit
                        li
                            a(href='/#contact') 
                                span Nous contacter
                    .banner
                        a(href="tel:+33179734004")
                            img(src="../../images/icons/phone.svg")
                            span +33 1 79 73 40 04
                        a(href="http://eepurl.com/bWGgCL" target="_blank")
                            button S'inscrire
                        span.flag
                            a(href="#")
                                img(src="../../images/icons/iconEN.png" alt="EN")
        block content        
        footer#footer
            .container
                .copyright
                    span &copy; Quorum 2016 
                ul.social-links
                    li
                        a(href='//facebook.com/quorumimpact' target="_blank")
                            i.fa.fa-facebook-square
                    li
                        a(href='//twitter.com/quorumimpact' target="_blank")
                            i.fa.fa-twitter-square
                    li
                        a(href='//linkedin.com/company/10114882' target="_blank")
                            i.fa.fa-linkedin-square
                    li
                        a(href='//google.com/+Quorumappsdata' target="_blank")
                            i.fa.fa-google-plus-square
                    li
                        a(href='//instagram.com/quorumteam/' target="_blank")
                            i.fa.fa-instagram
                ul.nav-footer
                    li
                        a.link(href='/about.html') 
                            span Équipe
                    li
                        a(href='https://medium.com/@quorumblog' target="_blank") Blog
                    li
                        a.link(href='/legals.html') 
                            span Mentions Légales
        section#newsletter
            .container
                div.banner
                    button.leave
                        i.fa.fa-close
                    img(src="../images/popup/newsletter.png")
                div
                    p Ne manquez rien du meilleur de nos publications, actualités et événements !
                    form(action="//quorum-impact.us12.list-manage.com/subscribe/post?u=8d7c7595072992d8808c7993d&amp;id=e5f9b9d368" method="post" enctype="multipart/form-data" data-dojo-attach-point="formNode" novalidate="")
                        div.input
                            input#mce-EMAIL(type="email" name="EMAIL" required placeholder="Email") 
                            .border-input.blue
                            button.blue(type="submit") GO
                                    
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src="https://d3js.org/d3.v3.min.js" charset="utf-8")
        script(src="../javascripts/c3.min.js")
        script(src="../javascripts/app.js")
        // Google Tag Manager
        noscript
            iframe(src='//www.googletagmanager.com/ns.html?id=GTM-PP7JV2', height='0', width='0', style='display:none;visibility:hidden')
        script.
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-PP7JV2');
            // End Google Tag Manager