extends ./layout.jade
block vars
    - var pageTitle = "Actualités"
block content
    .big#reset
    .clearfix
    br
    br
    br
    br
    #titre-article
        h1 Les actualités toutes fraîches !

    #bloc-article
        #square
            a(href= "https://fr.ogpsummit.org/osem/conference/ogp-summit/program/proposal/596")
                img(src= "../images/news/article1.png").cover-img
            p.titre-article
                a(href="https://fr.ogpsummit.org/osem/conference/ogp-summit/program/proposal/596")
                    span.categorie [EVENT-SAVE THE DATE]
                    |  Quorum présente au Sommet Mondial pour un Gouvernement Ouvert autour de 4 évènements par OGP SUMMIT

        #square
            a(href= "http://blog.atomic.io/design/luc-chaissac-diversity-community-collaboration-prototyping")
                img(src= "../images/news/article2.png").cover-img
            p.titre-article
                a(href="http://blog.atomic.io/design/luc-chaissac-diversity-community-collaboration-prototyping")
                    span.categorie [PUBLICATION]
                    |  How our #designers team has worked on prototyping our mobile App ? on ATOMIC BLOG 

        #square
            a(href= "http://www.sudouest.fr/2016/06/13/les-villes-qui-ont-perdu-la-droite-2398107-7410.php")
                img(src= "../images/news/article3.png").cover-img
            p.titre-article
                a(href="http://www.sudouest.fr/2016/06/13/les-villes-qui-ont-perdu-la-droite-2398107-7410.php")
                    span.categorie [DATA-ENQUÊTE]
                    |  Six mois après les Régionales : comment la victoire à échappé à la droite avec SUD OUEST

        #square
            a(href= "http://www.latribune.fr/regions/aquitaine/les-dix-startups-bordelaises-qui-batissent-la-ville-de-demain-573013.html")
                img(src= "../images/news/article4.png").cover-img
            p.titre-article
                a(href="http://www.latribune.fr/regions/aquitaine/les-dix-startups-bordelaises-qui-batissent-la-ville-de-demain-573013.html")
                    span.categorie [CLASSEMENT]
                    |  Quorum dans le top 10 des Startups qui bâtissent la ville de demain par LA TRIBUNE

        #square
            a(href= "http://objectifaquitaine.latribune.fr/evenements/2016-04-18/smart-city-bordeaux-le-programme-devoile.html")
                img(src= "../images/news/article5.png").cover-img
            p.titre-article
                a(href="http://objectifaquitaine.latribune.fr/evenements/2016-04-18/smart-city-bordeaux-le-programme-devoile.html")
                    span.categorie [CLASSEMENT]
                    |  20 Mai 2016 : SOMMET SMART CITY –  Intervention : « Une ville Intelligente c’est d’abord une ville qui engage ses citoyens ».  Plus d’infos à découvrir ici

        #square
            a(href= "http://citedigitale.bordeaux.fr/")
                img(src= "../images/news/article6.png").cover-img
            p.titre-article
                a(href="http://citedigitale.bordeaux.fr/")
                    span.categorie [EVENT]
                    |  DIGITAL WEEK – Intervention du CTO de Quorum sur l’avenir des SI.  Plus d’infos à découvrir ici

        #square
            a(href= "http://www.sudouest.fr/2016/04/10/l-engagement-citoyen-3-0-passera-aussi-par-le-terrain-publi-info-2357537-7507.php")
                img(src= "../images/news/article7.png").cover-img
            p.titre-article
                a(href="http://www.sudouest.fr/2016/04/10/l-engagement-citoyen-3-0-passera-aussi-par-le-terrain-publi-info-2357537-7507.php")
                    span.categorie [PUBLIREPORTAGE]
                    |  L'engagement citoyen 3.0 passera aussi par le terrain dans Sud Ouest

        #square
            a(href= "http://www.challenges.fr/start-up/20160404.CHA7289/quorum-veut-rendre-plus-efficace-le-marketing-politique.html")
                img(src= "../images/news/article8.png").cover-img
            p.titre-article
                a(href="http://www.challenges.fr/start-up/20160404.CHA7289/quorum-veut-rendre-plus-efficace-le-marketing-politique.html")
                    span.categorie [PRESSE]
                    |  Quorum veut rendre plus efficace le marketing politique dans Challenges

        #square
            a(href= "http://www.challenges.fr/classements/start-up/")
                img(src= "../images/news/article9.png").cover-img
            p.titre-article
                a(href="http://www.challenges.fr/classements/start-up/")
                    span.categorie [CLASSEMENT]
                    |  Quorum dans le classement Challenges des 100 startups où investir en 2016 dans Challenges
        #square
            a(href= "https://www.eventbrite.fr/e/billets-cogtalk-quorum-20253484718?ref=estw")
                img(src= "../images/news/article10.png").cover-img
            p.titre-article
                a(href="https://www.eventbrite.fr/e/billets-cogtalk-quorum-20253484718?ref=estw")
                    span.categorie [EVENT]
                    |  19 janvier 2016 –  #Cogtalk - Intervention de l’équipe de Quorum “Sciences Cognitives & politique” – Plus d’infos à découvrir ici

        #square
            a(href= "http://panneaux-election.fr/")
                img(src= "../images/news/article11.png").cover-img
            p.titre-article
                a(href="http://panneaux-election.fr/")
                    span.categorie [COLLABORATION]
                    |  Avec Mapo-tempo, Quorum propose panneaux-elections.fr : Trajets Optimisés pour les équipes de campagnes et les services municipaux en charge de l’affichage electoral.

        #square
            a(href= "https://www.francebleu.fr/emissions/start/gironde/quorum-florent-barre")
                img(src= "../images/logo/logo-color.svg").cover-img#logo-article
            p.titre-article
                a(href="https://www.francebleu.fr/emissions/start/gironde/quorum-florent-barre")
                    span.categorie [INTERVIEW]
                    |  Retrouvez Quorum  “Quants, Big data et algorithmes au service de l'action civique” sur France Bleu

        #square
            a(href= "http://objectifaquitaine.latribune.fr/business/l-actu-de-la-french-tech-bordeaux/2015-11-23/open-data-quorum-impact-et-mapotempo-innonvent-pour-les-elections-regionales.html")
                img(src= "../images/news/article12.png").cover-img
            p.titre-article
                a(href="http://objectifaquitaine.latribune.fr/business/l-actu-de-la-french-tech-bordeaux/2015-11-23/open-data-quorum-impact-et-mapotempo-innonvent-pour-les-elections-regionales.html")
                    span.categorie [PRESSE]
                    |  QUORUM & MAPOTEMPO innove pour les élections régionales par LA TRIBUNE.

    #bloc-buttons
        ul.nav-social
            li.social
                a(href='//facebook.com/quorumimpact' target="_blank")
                    i.fa.fa-facebook-square
            li.social
                a(href='//twitter.com/quorumimpact' target="_blank")
                    i.fa.fa-twitter-square
            li.social
                a(href='//linkedin.com/company/10114882' target="_blank")
                    i.fa.fa-linkedin-square
            li.social
                a(href='//google.com/+Quorumappsdata' target="_blank")
                    i.fa.fa-google-plus-square
            li.social
                a(href='//instagram.com/quorumteam/' target="_blank")
                    i.fa.fa-instagram

    #twitter
        a(href= "https://twitter.com/quorumimpact", data-lang= "fr", data-width= "250" data-height= "200").twitter-timeline Tweets by quorumimpact
        script(async, src= "//platform.twitter.com/widgets.js" charset= "UTF-8")

    .clearfix