@include exports('contact') {
	#contact {
		margin-top: 60px;
		padding-bottom: 50px;
		.container {
			width: 90%;

	  		h2 {
	  			p {
	  				margin: 0;
	  			}
	  		}
			ul {
				li:nth-child(1) {
					width:50%;
					vertical-align : top;
					text-align: left;
					margin-right: 10px; 
					form {
						input, textarea {
							width: calc(310px + 4%);
							border: 0;
							border-bottom: 2px solid #E0E0E0;
							padding: 10px 0;
							margin-bottom: 10px;
							outline: none;
							background-color: #F2F2F2;
							cursor: pointer;
						}
						button:hover {
							background-color: $red;
						}
						.input {
							position: relative;
							background-color:#F2F2F2;
							.border-input, .border-textarea {
								position:absolute;
								width: 0;
								height: 2px;
								&.active {
									width: 450px;
								}
							}
							.border-input {
								bottom: 10px;
							}
							.border-textarea {
								bottom: 13px;
							}
						}
					}
					p {
							margin-top: 1px;
						}
						p:nth-child(2) {
							display: block;
							margin-top: 5px;
							margin-left: 3px;
						}
				}
				li:nth-child(2) {
					width: 46%;
					vertical-align : top;
					text-align: left;
					p {
						margin-top: 15px;
						i {
							color: $grey;
							padding: 12px 5px;
						}
						a {
							text-decoration: none;
							color: $font-color;
						}
						.fa-map-marker {
							margin-right: 12px;
						}
					}
					ul{
						margin-top: 10px;
						list-style-type: none;
						li {
							display: inline;
							margin-right: 24px;
							a {
								color: $grey;
								text-decoration: none;
								&:hover {
									color: $red;
								}
							}
							i {
								font-size: 30px;
							}
						}
					}
				}
			}	
	  	}
	  	ul{
			padding-left: 0;
			list-style-type: none;
			li{
				display: inline-block;
			}
		}		
	}
	@media(min-width: 321px) and (max-width: 767px){
		#contact {
			margin-top:10px;
			.container {
				span.quote{
		  			color: $grey;
		  			font-size: 20px;
		  		}
				ul {
					display: list-item;
					li:nth-child(1) {
						form {
							input, textarea {
								width: 100%
							}
						}
						width: 100%;
					}
					li:nth-child(2) {
						margin-top: 100px;
					}
				}
			}
			ul {
				padding-left: 0;
				list-style-type: none;
				li{
					display: block;
				}
			}
			
		}
	}
	@media(max-width: 320px){
		#contact {
			margin-top:10px;
			.container {
				ul {
					li:nth-child(1) {
						form {
							input, textarea {
								width: 100%
							}
						}
						width: 100%;
					}
					li:nth-child(2) {
						width: auto;
						margin-top: 70px;
					}

				}			
			}
			ul {
				padding-left: 0;
				list-style-type: none;
				li{
					display: block;
				}
			}
			
		}
	}
	@media(min-width: 326px) and (max-width: 425px){
		#contact {
			.container {
				ul {
					li:nth-child(2) {
						width: auto;
					}

				}			
			}
		}
	}
	@media(min-width: 426px) and (max-width: 767px){
		#contact {
			.container {
				ul {
					li:nth-child(1) {
						text-align: center;
						form {
							input, textarea {
								width: 100%;
							}
						}
						width: 100%;
					}
					li:nth-child(2) {
						width: auto;
						h2 {
							text-align: center;
						}
					}

				}			
			}
		}
	}
	@media(min-width: 1600px) {
		#contact {
			.container {
				max-width: 1000px;
			}
		}
	}
	@media(min-width: 1024px) {
		#contact {
			.container {
				ul{
					li:nth-child(1){
						form {
							input, textarea {
								width: 450px;
							}
						}
					}
				}
			}
		}
	}
}