@include exports('contact') {
	#contact {
		text-align: left;
		margin-top:60px;
		margin-left: calc(8% + 27px);
		.left {
			float: left;
			form {
				input, textarea {
					width: 450px;
					border: 0;
					border-bottom: 2px solid $light-grey;
					padding: 10px 0;
					margin-bottom: 10px;
					outline: none;
					background-color:#F2F2F2;
				}
				button:hover {
					background-color: $red;
				}
				.input {
					position: relative;
					background-color:#F2F2F2;
					.border-input, .border-textarea {
						position:absolute;
						width: 0;
						height: 2px;
						&.active {
							width: 450px;
						}
					}
					.border-input {
						bottom: 10px;
						bgcolor:red;
					}
					.border-textarea {
						bottom: 13px;
					}
				}
			}
		}
		.right {
			float: left;
			
			p {
				i {
					color: $blue;
					padding: 12px 3px;
				}
				span:nth-child(3) {
					display: block;
					margin-left: 22px;
				}
			}
			ul{
				margin-top: 40px;
				list-style-type: none;
				li {
					display: inline;
					margin-left: 24px;
					a {
						color: $blue;
					}
				}
			}
		}
		
	}
}