@include exports('contact') {
	#contact {
		
		padding-bottom: 50px;

	  	#form-contact {
	  		height: 100%;
	  		text-align:left;
	  		float:left;
	  		width: 50%;
	  		padding-left:100px;

          .titre-formulaire {
            margin-top: 40px;
            margin-bottom: 44px;
            margin-left: -180px;
            display: block;
            text-align:center;
          }
          
          h2 {
              color: #fff;
              font-size: 17px;
              font-weight: 700;
              line-height: 24px;
              background-color: #00989d;
              width: 150px;
              transform: rotate(-3deg);
              padding-top: 3px;
              margin:auto;

            }

	  		input {
	  			width :80%;
	  			height: 50px;
	  			border-radius: 5px;
	  			border: 1px solid #bdc3c7;
	  			margin-bottom: 25px !important;
	  			padding-left : 15px;

	  		}

	  		textarea {
	  			width: 78%;
	  			border-radius: 5px;
	  			border: 1px solid #bdc3c7 !important;
	  			padding:  15px 15px 15px 15px;

	  		}

	  		button {
	  			background-color:  #eb3459 !important;
	  			width: 230px;
	  			height: 30px;
	  			padding-top: 6px !important;
	  			display: block;
	  			margin-left: 150px;
	  			margin-top: 30px;
	  		}

	  	}

	  	#adress-postale {
	  		height: 100%;
	  		text-align:left;
	  		float:left;
	  		width: 30%;
			 
			 #carte {
					height:150px;
					margin-bottom: 25px;
					margin-top: -10px;
					z-index:-1;

				}

	  		#cadre-pop {
				
				.text-center {
					text-align:center;
					width:200px;
					display: block;
					margin-bottom: 35px;
				}

				img {
					width: 120px;
					height: 120px;
					border-radius: 50%;
					margin:0 auto;

				}

	  			padding-left: 20px;
	  			padding-right: 20px;
	  			padding-bottom:10px;

		  		p {
		  			a {
		  				color: black;
		  			}
		  		}


          .titre-postal {
            margin-top: 40px;
            margin-bottom: 44px;
            display: block;
            text-align: center;
          }
            
            h2 {
                background-color: #20bffb;
                font-size: 17px;
                font-weight: 700;
                line-height: 24px;
                width:210px;
                transform: rotate(-3deg);
                padding-top: 3px;
                margin:auto;
                color:#fff;
            }
	  		}

	  	}
	}

	@media(max-width: 1250px){
		
		#contact {

			#form-contact {
				input {
					width :400px;
				}

				textarea {
					width: 385px;
				}
			}
		}

	}




	// @media(min-width: 1024px){
		
	// 	#contact {

	// 		#form-contact {
	// 			width:50% !important;
	// 			float:left;
	// 			display: block;
	// 		}
			
	// 		#adress-postale {
	// 			width:30% !important;
	// 			display: block;
	// 			float: left;
	// 		}

	// 	}

	// }

	@media(max-width: 780px){
		
		#contact {

			#form-contact {
				display: none;
			}

			#adress-postale {
				float: none;
				width: 60%;
			}
		}

	}

	@media(min-width: 320px) and (max-width: 370px){ 
		#contact {

			#adress-postale {
					p {
						padding-left: 30px !important;
					}
					p:first-child {
						margin-top: 20px;
					}
                    
			}
		}

	}
}