@include exports('demo') {
  #get-demo {
    background-image:  url(../images/home/demo-bg-3.png);
    background-repeat:  no-repeat;
    background-size: cover;
    height: 110px;
    margin-top: 0  !important;
    padding-top: 70px;
    margin-bottom: 0px;

    h2{
      color: #f2f2f2;
      font-size: 26px;
      font-weight: 700;
      line-height: 24px;
      font-family: 'ProximaNova-Regular';
      src:url('../fonts/ProximaNova-Regular.otf');
    }
    
    button {
      border-radius: 4px;
      width: 460px;
      height: 64px;
      background-color: #00bfff !important;
      padding-top:5px !important;
      margin-top: 0px;
        
      & a {
        font-size: 25px;
        font-weight: 700;
        line-height: 31px;
        color:white;
        margin-top: 0px !important;
        font-family: 'ProximaNova-Regular';
        src:url('../fonts/ProximaNova-Regular.otf');
      }
    }
    button:hover {
      background-color: #eb3459 !important;
    }
  }


    @media(max-width: 435px) {
        #get-demo {
           button {
            width:300px;
            height: 60px;
              & a {
                 font-size: 20px;
              }
           }
        }
    }

    @media(min-width: 320px) and (max-width: 370px){ 
      #get-demo {
        margin-top: 0px !important;
        h2 {
          margin-top :0px;
        }
        button { 
          width:250px;
            & a {
                font-size: 17px !important;
              }
        }

      }  
     }


}