@include exports('demo') {
  #get-demo {
    background-image:  url(../images/home/demo-bg-3.png);
    background-repeat:  no-repeat;
    background-size: cover;
    height: 174px;
    margin-top: 0  !important;
    padding-top: 40px;
    margin-bottom: 0px;

    h2{
      color: #f2f2f2;
      font-size: 20px;
      font-weight: 700;
      line-height: 24px;
      font-family: 'ProximaNova-Regular';
      src:url('../fonts/ProximaNova-Regular.otf');
    }
    
    button {
      border-radius: 4px;
      width: 400px;
      height: 64px;
      background-color: #eb3459 !important;
      padding-top:5px !important;
      margin-top: 0px;
        
      & a {
        font-size: 26px;
        font-weight: 700;
        line-height: 31px;
        color:white;
        margin-top: 0px !important;
        font-family: 'ProximaNova-Regular';
        src:url('../fonts/ProximaNova-Regular.otf');
      }
    }
  }


    @media(max-width: 435px) {
        #get-demo {
           button {
            width:300px;
            height: 60px;
              & a {
                 font-size: 20px;
              }
           }
        }
    }


}