@include exports('demo') {
  #get-demo {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../images/home/background-demo.jpg);
    background-size: auto , cover;
    background-repeat: auto, no-repeat;
    background-position: right, right;
  }
  h2{
    color: black;
  }
  
  button {
    border-radius: 4px;
    
    & a {
          font-size: 0.7em;
          color: white;
    }
  }
}