@include exports ('icons') {
    #icons {
        margin-top: 40px;
        margin-bottom: 20px;
        h2 {
            font-family: 'ProximaNova';
            margin-bottom: 55px;
            font-weight: normal;
        }

        .bold {
            font-family: 'ProximaNova';
            font-weight: bold;
        }

        .left-col {
            float:left;
            width:50%;
             h3 {
            font-size: 18px;
            font-family: 'ProximaNova';
            font-weight: normal;
            line-height: 29px;
            }
        }

        .right-col {
            float:left;
            width:50%;
            h3 {
            font-size: 18px;
            font-family: 'ProximaNova';
            font-weight: normal;
            line-height: 29px;
            }
        }

        ul {
            margin-top: 70px !important;
            margin-bottom: 30px;
            li {
                position: relative;
                display: inline-block;
                margin: 0 40px;
                opacity: 0.7;
                img {
                    width: 70px;
                }
                &.active {
                    opacity: 1;
                    border-bottom: 1px solid #2778e4;
                    color:#2778e4;
                }
                &:hover:not(.active) {
                    cursor: pointer;
                    opacity: 1;
                    color:#000 !important;
                }
                p {
                    font-family: 'ProximaNova';
                    font-weight: bold;
                }

            }
        }
    }
 


    /* iPhone 6 */
    @media (min-width: 375px) and (max-width: 385px){
            #icons {
            .container {

            }
        }

    }
    /* iPhone 6+ */
    @media  (max-width: 425px){
            #icons {
                margin-top: 30px;
            .container {
                .left-col {
                    float: none;
                    width:100%;
                    display: block;
                    margin-bottom: 50px;
                }
                .right-col {
                    float: none;
                    width:100%;
                }

                ul {
                    margin-left: -40px;
                }

            }
        }
    }

    /* Ipad */

    @media (min-width: 768px) and (max-width: 780px) {
    #icons {
        .container {

        }
    }   
    }




}