@include exports('mobile') {
	#mobile{
		background: url('../images/home/mobile-test.png');
		background-repeat: no-repeat;
		background-size: 360px;
		background-position:95% 20px;
		@media(max-width: 650px){
			background-size: 100%;
			background-position: center;
		}
		.container{
			margin-right: 40%; 
			@media(max-width: 650px){
				margin-right: 0;
				background: rgba(120,120,120,0.3);
			}
		}
	}
}
