@include exports('mobile') {
	#mobile{
		margin-top: 60px;
		background: url('../images/home/mobile.svg');
		background-margin-left: calc(8% + 27px);
		background-repeat: no-repeat;

		background-size: auto 100%;
		background-position: calc(8% + 27px);
		h3 {
			p {
				margin: 0 0 11px 0;
				color: $font-color;
			}
		}
		i {
				color: $pink;
		}
		.list {
			div.sentence { 
				color: $grey;
				width: 600px;
				padding: 10px 0;
				display: inline-block;
			}
			div.icon {
				width: 16px;
				float: left;
				padding: 10px;
			}
		}
		.container{
		margin-left: calc(8% + 27px);
			float:right;
			width: 40%;
			text-align: left;
			margin-right: 8%; 
		}
	}
	@media(max-width: 768px){
		#mobile {
			margin-top: 20px;
			background: transparent;
			background-repeat: no-repeat;
			background-position: 100%;
			background-size: 100% auto;
			.container{
				float: none;
				width: 90%;
				text-align: left;
				margin: 0 8%;
			}
			p {
				&:first-child{
					display: inline-block;
					color: $font-color;
				}
			}
			h3 {
				margin-bottom: 0px;
			}
		}
	}
}
