@include exports('news-faq') {
    #faq-news {
        padding-top: 0;
        .container {
            float: left;
            width: 50%;
        }

        #preview-news {

          height: 100%;

          ul.news-responsive {
            display: none;
          }

            h2 {
              color: #00989d;
              font-size: 20px;
              font-weight: 700;
              line-height: 24px;
              margin-top: 40px;
              margin-bottom: 44px;
            }
            ul {
                
                list-style: none;              
                text-align: left;
                padding-left: 80px;
                p {
                  padding-left: 20px;
                  margin-top: 102px;
                  font-size: 1.3em;
                }
                li {
                    display: inline;
                    margin: 30px;
                    img {
                        max-width: 200px !important;
                        opacity: 0.7;
                        -webkit-filter: grayscale(1);
                           -moz-filter: grayscale(1);
                            -ms-filter: grayscale(1);
                             -o-filter: grayscale(1);
                                filter: grayscale(1);
                        &:hover{
                          opacity: 1;
                          -webkit-filter: grayscale(0);
                             -moz-filter: grayscale(0);
                              -ms-filter: grayscale(0);
                               -o-filter: grayscale(0);
                                  filter: grayscale(0);
                        }
                    }
                }
            }
        }
        #preview-faq {
            background-color: #f2f2f2;
            height: 100%;

            h2 {
                color: #20bffb;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
                margin-top: 40px;
                margin-bottom: 44px;
            }
            ul {
                list-style: none;
                li {
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 26px;
                    text-align: left;
                    text-decoration: none;
                    .preview-question {
                        font-weight: bold;
                        margin-bottom: 0px !important;
                    }

                    .answer {
                      font-size: 16px;
                      margin-top: 5px !important;
                    }
                    
                    .faq-access {
                      font-size: 20px;
                    }

                }
            }
        }
    }


  @media(max-width: 800px){
      #faq-news {
        #preview-news {

           ul.news-responsive {
                display: block;
                list-style: none;
                text-align: center;
                margin-left: 0 !important;
                padding-left: 0 !important;

                li {
                  display: block;
                  font-size: 17px;
                  font-weight: 700;
                  line-height: 24px;
                  margin-top: 0px;
                }
              }

              ul.news-img {
                display:none;
              }

        }
      }
  }

    @media(max-width: 600px){
      #faq-news {
        #preview-faq {
          margin-top:  -60px; 

          h2 {
            padding-top: 20px;
            margin-bottom: 0px;
          }
          ul {
            li {
              padding-right: 20px;
            }
          }
        }
        .container {

          display: block;

          float:none;
          width:100%;
          max-width: none !important;
        }

      }
  }

   @media(min-width: 1024px){
      #faq-news {
        #preview-faq { 
          min-width: 1205px !important;

          .container {
            min-width:1205px !important;
          }

        }

        #preview-news { 
          min-width: 1205px !important;

          .container {
            min-width:1205px !important;
          }

        }
      }
    }

    @media(min-width: 375px){
      #faq-news {
        #preview-faq {
            margin-left: 0;
            margin-right: 0;
            width: 397px !important;
        }
      }
    }

    @media(min-width: 320px) {
      #faq-news {
        #preview-faq {
            margin-left: 0;
            margin-right: 0;
            width: 345px !important;
        }
      }
    }



}