@include exports('product') {
  	#product {
  		margin-top: 30px;
  		.container {
      margin-left: calc(8% + 27px);
      margin-right: calc(8% + 27px);
	  		span.quote{
	  			color: $grey;
	  			font-size: 20px;
	  		}
	  		h2 {
	  			p {
	  				margin: 0;
	  			}
	  		}
	  	}
  	}
  	@media(max-width: 768px){
  		#product {
  			margin-top: 10px;
  			h2 {
  				display: inline-block;
  				p {
  					display: inline-block;
  				}
  			}
  		}
  	}
}
