@include exports('product') {
  	#product {
  		margin-top: 60px;
        margin-bottom: 60px;
  		.container {
            margin-top: 70px;
            margin-left: auto; 
            margin-right: auto;
            width: 80%;
            span.quote{
                color: $grey;
                font-size: 20px;
            }
            h2 {
	  			p {
	  				margin: 0;
                    display: inline;
	  			}
	  		}
	  	}
  	}
  	@media(max-width: 768px){
  		#product {
  			margin-top: 10px;
  			h2 {
  				display: inline-block;
  			}
  		}
  	}
    @media(max-width: 425px){
        #product {
            text-align: left;
            padding: 0 10px;
            .container {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
    @media(min-width: 1250px) {
        .container {
            margin-left: auto; 
            margin-right: auto;
        }
    }
}
