@include exports('product') {
  	#product {
  		margin-top: 60px;
        margin-bottom: 60px;
  		opacity: 0;
        .container {
            margin-top: 70px;
            margin-left: auto; 
            margin-right: auto;
            width: 80%;
            span.quote{
                color: $grey;
                font-size: 20px;
                strong {
                    padding: 1px 3px;
                    background: $purple;
                    color: white;
                }
                &:nth-of-type(1){ 
                    display: inline;
                }
            }
            h2 {
	  			p {
	  				margin: 0;
                    display: inline;
	  			}
	  		}
	  	}
  	}
  	@media(max-width: 767px){
  		#product {
        opacity: 1;
  			margin-top: 10px;
  			h2 {
  				display: inline-block;
  			}
  		}
  	}
    @media(max-width: 425px){
        #product {
            text-align: left;
            padding: 0 10px;
            .container {
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                span.quote{
                    &:nth-of-type(1), &:nth-of-type(2){ 
                        display: inline;
                    }
                }
            }
        }
    }
    @media(min-width: 1250px) {
        .container {
            margin-left: auto; 
            margin-right: auto;
        }
    }
    @media(min-width: 1024px) {
        .container {
            span.quote{
                &:nth-of-type(2), &:nth-of-type(3){ 
                    display: block;
                }
            }
        }
    }
}
