@include exports('schema') {

	#schema {

		h2 {
			font-family: 'ProximaNova';

        	margin-bottom: 40px;
		}
		.bold {
			font-family: 'ProximaNova';
        	font-weight: bold;
		}
		margin-top: 50px;
		.img-schema {
			margin-left: -50px;
			margin-top: 70px;
		}
	}


	@media(max-width: 1110px){
		#schema {
			.img-schema {
				margin-left: 0px;
				img {
					width:1000px;
					margin-top: 30px;
				}
			}
		}
	}
	@media(max-width: 1024px){
		#schema {
			.img-schema {

				margin-left: 0px;
				img {
					width:800px;
					margin-top: 30px;
				}
			}
		}
	}	
	@media(max-width: 800px){
		#schema {
			h2 {
				display: none;
			}
			.img-schema {
				display: none;
			}
		}
	}

}