@include exports('schema') {

	#schema {
		.img-schema {
			margin-left: -50px;
			margin-top: 30px;
		}
	}


	@media(max-width: 1110px){
		#schema {
			.img-schema {
				margin-left: 0px;
				img {
					width:1000px;
					margin-top: 30px;
				}
			}
		}
	}
	@media(max-width: 1024px){
		#schema {
			.img-schema {

				margin-left: 0px;
				img {
					width:800px;
					margin-top: 30px;
				}
			}
		}
	}	
	@media(max-width: 800px){
		#schema {
			.img-schema {
				display: none;
			}
		}
	}

}