@include exports('social') {
	#social {

		background-color: #fff;

		// margin-top: 20px;
		padding-top: 60px;
		margin-bottom: 20px;

		h2 {
			font-weight: normal;
			line-height: 36px;                
			color: #000;
            font-size: 17px;
            line-height: 24px;
            letter-spacing: 3px;
		}

		ul {
			list-style: none;
			margin-top: 30px;


			li {
				display: inline;


				margin-right: 30px;

				i {
					font-size: 20px;
					color: #2778e4;

				}

				i:hover {
					color:$red;
					background-color: #f2f2f2 !important;
				}
			}

			li:hover {
				opacity:1;
			}
		}
	}

    @media(max-width: 1250px) {
		#social {

			h1 {
				font-size: 20px;
			}
			ul {
				li {
					i {
						font-size:20px;
					}

				}
			}
		}
    }

    @media(min-width: 320px) and (max-width: 325px) {
		#social {

			h1 {
				font-size: 20px;
			}
			ul {
				li {
					i {
						font-size:12px;
					}

				}
			}
		}
    }

}