@include exports('target') {
	#target {
		background-color: #f2f2f2;
		opacity: 0;
		.container {
			span.quote{
	  			color: $grey;
	  			font-size: 20px;
	  		}
	  		width: 95%;
			margin-top: 60px;
			margin-bottom: 60px;
			h2{
				padding: 0 10px;	
			}
			ul {
				margin-bottom: 40px;
				margin-top: 40px;
				

				.active{
					background-color: white;
					color:black;
					border: 2px solid #fff;
					border-radius: 5px;
					font-size: 0.9em;
				}

				li {
					width: 21%;
					border: 2px solid #9fa4ac;
					border-radius: 5px;
					font-size: 0.9em;
					margin: 8px;
					text-align: left;
					padding-left: 20px;
					
					.objectif {
						font-weight: bold !important;
						font-size: 1em;
						color:black;
					}

					.active-box {
						background-color: #0f949a;
						color: #fff;
						display: inline-block;
						margin-bottom: 0 !important;
						padding-left: 3px;
						padding-right: 3px;
						padding-top: 2px;
						padding-bottom: 2px;
					}


					.target-name {
						font-weight: bold;
						color:#0f949a;
					}
					

				}

				li:hover {
					width: 21%;
					border: 2px solid #0f949a;
					background-color: #0f949a;
					border-radius: 5px;
					font-size: 0.9em;
					margin: 8px;
					text-align: left;
					padding-left: 20px;

					p {
						color:white;
					}
					
					.objectif {
						font-weight: bold !important;
						font-size: 1em;
						color:white;
					}

					.active-box {
						background-color: #000;
						color: #fff;
						display: inline-block;
						margin-bottom: 0 !important;
						padding-left: 3px;
						padding-right: 3px;
						padding-top: 2px;
						padding-bottom: 2px;
					}


					.target-name {
						font-weight: bold;
						color:#fff;
					}
					

				}

			}
			button.blue {
				&:hover {
					background: $red;
				}
			}
		}
		ul{
			padding-left: 0;
			list-style-type: none;
			li{
				display: inline-block;
			}
		}
	}
	@media(max-width: $small-screen){
		#target {
			button {
				height: 100px;
				margin-top: 10px;
			}
			ul {
				li {
					margin-bottom: 5px;
				}
			}
		}
	}
	@media(max-width: 767px){
		#target {
			opacity: 1;
			span.quote {
				p {
					display: inline;
					margin-top: 0px;
				}
			}
		}
	}
	@media(max-width: 425px){
		#target {
			.container {
				ul {
					li{
						button{
							font-size: 18px;
						}
					}
				}
				a {
					button {
							font-size: 16px;
					}
				}
			}
		}
	}
}
