@include exports('target') {
	#target {
		background-color: #f9f9fc;
		margin-top: 60px;
		opacity: 0;
		.container {
			span.quote{
	  			color: $grey;
	  			font-size: 20px;
	  		}
	  		width: 95%;
			margin-top: 60px;
			margin-bottom: 60px;
			h2{
				padding: 0 10px;	
			}
			ul {
				margin-bottom: 40px;
				margin-top: 40px;
				li:first-child {
					button {
							background: url('../images/home/agency.svg');
					}
				}
				li:nth-child(2) {
					button {
							background: url('../images/home/non-profit.svg');
					}
				}
				li:nth-child(3) {
					button {
							background: url('../images/home/campaigners.svg');
					}
				}
				li:nth-child(4) {
					button {
							background: url('../images/home/individuals.svg');
					}
				}
				li {
					button {
							margin: 10px 10px;
							height: 200px;
							width: 200px;
							letter-spacing: 0.2px;
							font-weight: bold;
					}
				}
			}
			button.blue {
				&:hover {
					background: $red;
				}
			}
		}
		ul{
			padding-left: 0;
			list-style-type: none;
			li{
				display: inline-block;
			}
		}
	}
	@media(max-width: $small-screen){
		#target {
			button {
				height: 100px;
				margin-top: 10px;
			}
			ul {
				li {
					margin-bottom: 5px;
				}
			}
		}
	}
	@media(max-width: 767px){
		#target {
			opacity: 1;
			span.quote {
				p {
					display: inline;
					margin-top: 0px;
				}
			}
		}
	}
	@media(max-width: 425px){
		#target {
			.container {
				ul {
					li{
						button{
							font-size: 18px;
						}
					}
				}
				a {
					button {
							font-size: 16px;
					}
				}
			}
		}
	}
}
