@include exports('target') {
	#target {
		button {
			margin: 0 10px;
			height: 200px;
			width: 200px;
		}
		ul{
			padding-left: 0;
			list-style-type: none;
			li{
				display: inline-block;
				@media(max-width: $small-screen){
					margin-bottom: 5px;
				}
			}
		}
	}
}
