@include exports('target') {
	#target {
		background-color: #f2f2f2;
		.container {
			span.quote{
	  			color: $grey;
	  			font-size: 20px;
	  		}
	  		width: 95%;
			margin-top: 60px;
			margin-bottom: 60px;
			h2{
				padding: 0 10px;
				font-family: 'ProximaNova-Regular';
        		src:url('../fonts/ProximaNova-Regular.otf');	
			}
			.bold {
				font-family: 'ProximaNova-Bold';
        		src:url('../fonts/ProximaNova-Bold.otf');
			}
			ul {
				margin-bottom: 40px;
				margin-top: 40px;
				

				.active{
					background-color: white;
					color:black;
					border: 2px solid #fff;
					border-radius: 5px;
					font-size: 0.9em;
				}

				hr {
					border:1px solid #0f949a;
					width: 60px;
					margin-left: 0px;

					border-radius: 100px;

				}

				li {
					margin-top: 0px !important;
					width: 18%;
					border: 2px solid #0f949a;
					border-radius: 5px;
					font-size: 0.9em;
					margin: 8px;
					text-align: left;
					padding-left: 20px;
					padding-right: 20px;
					// height: 170px !important;
					vertical-align: top ;
					// line-height: 1.5em;
					height: 195px !important;
					
					.objectif {
						// font-weight: bold !important;
						// font-size: 1em;
						font-size: 14px;
						// color:#fff;
						color : #000;
						// background-color: #0f949a;
						// text-align: center;
						// text-transform: uppercase;
						// text-decoration: underline;
						// text-align: center;
						padding-top: 5px;
						padding-bottom: 5px;
						font-family: 'ProximaNova-Bold';
        				src:url('../fonts/ProximaNova-Bold.otf');


					}

					.active-box {
						background-color: #0f949a;
						color: #fff;
						display: inline-block;
						margin-bottom: 0 !important;
						padding-left: 3px;
						padding-right: 3px;
						padding-top: 2px;
						padding-bottom: 2px;
					}

					.target-name {
						color:#0f949a;
						font-family: 'ProximaNova-RegularItalic';
        				src:url('../fonts/ProximaNova-RegularItalic.otf');
					}
					

				}

				li:hover {
					width: 18%;
					border: 2px solid #0f949a;
					background-color: #0f949a;
					border-radius: 5px;
					font-size: 0.9em;
					margin: 8px;
					text-align: left;
					padding-left: 20px;

					p {
						color:white;
					}

					hr {
					border:1px solid #fff;
					width: 60px;
					margin-left: 0px;
					border-radius: 100px;

					}
					
					.objectif {
						font-size: 14px;
						color:#fff;
						// text-transform: uppercase;
						// text-decoration: underline;
						// text-align: center;
						padding-top: 5px;
						padding-bottom: 5px;
						font-family: 'ProximaNova-Bold';
        				src:url('../fonts/ProximaNova-Bold.otf');
					}

					.active-box {
						background-color: #000;
						color: #fff;
						display: inline-block;
						margin-bottom: 0 !important;
						padding-left: 3px;
						padding-right: 3px;
						padding-top: 2px;
						padding-bottom: 2px;
					}


					.target-name {
						font-weight: bold;
						color:#fff;
					}
					

				}

			}
			button.blue {
				&:hover {
					background: $red;
				}
			}
		}
		ul{
			padding-left: 0;
			list-style-type: none;
			li{
				display: inline-block;
			}
		}
	}
	@media(max-width: $small-screen){
		#target {
			button {
				height: 100px;
				margin-top: 10px;
			}
			ul {
				li {
					margin-bottom: 5px;
				}
			}
		}
	}
	@media(max-width: 767px){
		#target {
			opacity: 1;
			span.quote {
				p {
					display: inline;
					margin-top: 0px;
				}
			}
		}
	}
	@media(min-width: 430px) {
		#target {
			.container {
				ul {
					li{
						.keywords {
							display: none;
						}
			
					}
				}
			}
		}
	}
	@media(max-width: 425px){
		#target {
			.container {
				ul {
					li{
						 width : 30%;
						 height: 110px !important;
						 padding-left: 10px;
						 margin-top: 10px !important;
						.target-name {
							display: none;
						}
						.description {
							display: none;
						}


						button{
							font-size: 18px;
						}
					}
				}
				a {
					button {
							font-size: 16px;
					}
				}
			}
		}
	}


	@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
		#target {
			.container {
				ul {
					li {
						height: 150px !important;
					}
				}
			}
		}

	}


	/* iPhone 6 */
	@media (min-width: 375px) and (max-width: 385px){
			#target {
			.container {
				ul {
					li {
						height: 140px !important;
					}
				}
			}
		}

	}
	/* iPhone 6+ */
    @media (min-width: 414px) and (max-width: 425px){
			#target {
			.container {
				ul {
					li {
						height: 140px !important;
					}
				}
			}
		}
	}

	/* Ipad */

    @media (min-width: 768px) and (max-width: 780px) {
	#target {
		.container {
			ul {
				li {
					height: 250px !important;
				}
			}
		}
	}  	
    }



}
