@include exports('webconsole') {
	#webconsole {
		margin-top: 100px;
		background: url('../images/home/webconsole-test.png');
		background-repeat: no-repeat;
		background-position: 100%;
		background-size: 50%;
		@media(max-width: 425px){

		}
		p {
			color: $grey;
			i {
				color: $green;
				margin-right: 3px;
			}
		}
		.container{
			margin-left: calc(8% + 27px);
			text-align: left;
			width: 50%;
			@media(max-width: 425px){

			}
		}
	}
}
