// IMPORT ONCE
// We use this to prevent styles from being loaded multiple times for compenents that rely on other components.
$modules: () !default;

@mixin exports($name) {
  // Import from global scope
  $modules: $modules !global;
  // Check if a module is already on the list
  $module-index: index($modules, $name);
  @if (($module-index == null) or ($module-index == false)) {
    $modules: append($modules, $name) !global;
    @content;
  }
}
