@include exports('believe') {
	h2{
		text-align: center;
		padding: 10vh 0;
		span {
			color: $dark-blue;
		}
	}
	#believe{
		opacity: 0;
		h3 {
			font-size: 25px;
			margin-bottom: 70px;
			text-align: center;
		}
		div.believe-en {
			p {
				text-align: justify;
				line-height: 35px;
				margin-bottom: 20px;
				span {
					display: block;
				}
			}
		}
		ul {
			list-style-type: none;
			text-align: center;
			margin: auto;

			li {
				padding: 3vh 0;
				color: $grey;
			}

 			li:hover {
				color: $font-color;
				strong {
					color: $dark-blue;
				}
			} 
		}
	}

	//Medium Screen <= 768px
	@media(max-width: $medium-screen) {
		#believe {
			opacity: 1;
			h3 {
				margin: 0 15vw 5vh 15vw;
			}
			ul {
				text-align: left;
				list-style-type: circle;
			}
		}
	}
	// Large Screen <= 1024
	@media(min-width: $medium-screen) and (max-width: $large-screen) {

		#believe{

			ul {
				width: 50%;
			}
		}
	}

}