@include exports('believe') {
	#believe{
		h3 {
			font-size: 30px;
			margin-bottom: 70px;
		}
		div.believe-en {
			p {
				display: inline-block;
				text-align: justify;
				line-height: 35px;
				margin-bottom: 20px;
				span {
					display: block;
				}
			}
		}
		div.believe-fr {
			&:nth-child(2) {
				img {
					margin-top: 60px;
				}
			}
			&:nth-child(3) {
				margin: 40px 0;
				img {
					margin-top: 77px;
				}
			}
			&:nth-child(4) {
				img {
					margin-top: 40px;
				}
			}
			p {
				display: inline-block;
				text-align: justify;
				line-height: 35px;
				margin-bottom: 20px;
				width: calc(100% - 300px);
				span {
					display: block;
				}
			}
			img {
				width: 200px;
				display: inline-block;
				float: left;
				border-radius: 50%;
			}
		}
		strong {
			padding: 1px 3px;
			background: $blue;
			color: white;
		}
		ul {
			padding-left: 25px;
			text-align: left;
			list-style-type: none;
			margin-top: 50px;
			margin-bottom: 50px;
			li {
				margin-bottom: 15px;
				div.sentence { 
					width: 90%;
					padding: 10px 0;
					display: inline-block;
					margin-left: 20px;
					line-height: 25px;
				}
				div.icon {
					padding: 10px;
					float: left;
				}
			}
		}
	}
	@media(min-width: 425px) {
		#believe {
			.believe-fr, ul.bullet {
				opacity: 0; 
			}
		}
	}
	@media(max-width: $small-screen){
		#believe {
			p {
				text-align: left;
			}
			ul {
				padding-left: 0px;
				li {
					div.sentence { 
						width: 300px;
						padding: 10px 0;
						display: inline-block;
						margin-left: 17px;
					}
					div.icon {
						float: left;
					}
				}
			}
		}
	}
	@media(max-width: 500px){
		#believe {
			ul {
				li {
					div.sentence { 
						width: 80%;
					}
				}
			}
		}
	}
	@media(min-width: 501px) and (max-width: 600px){
		#believe {
			ul {
				li {
					div.sentence { 
						width: 88%;
					}
				}
			}
		}
	}
	@media(max-width: 767px) {
		#believe {
			div.believe-fr {
				img {
					display: none;
				}
				p {
					width: 100%;
				}
			}
		}
	}
	@media(min-width: 768px) and (max-width: 1024px){
		#believe {
			div.believe-fr {
				&:nth-child(2) {
					img {
						margin-top: 80px;
					}
				}
				&:nth-child(3) {
					margin: 40px 0;
					img {
						margin-top: 110px;
					}
				}
				&:nth-child(4) {
					img {
						margin-top: 90px;
					}
				}
			}
		}
	}
}