@include exports('jobs') {
	#jobs{
		p {
			text-align: justify;
			line-height: 35px;
		}
		span {
			display: block;
			margin-bottom: 20px;
		}
		button {
			margin: 20px 0 36px 0;
			&:hover {
				background-color: $red;
			}
		}
		a {
			color: $pink;
			text-decoration: none;
			&:hover {
				color: $red;
			}
		}
		i {
			padding: 20px;
			font-size: 30px;
			display: block;
		}
	}
	@media(max-width: $small-screen) {
		#jobs {
			p {
				text-align: left;
			}
		}
	}
}