@include exports('skills') {
	// text with the donut char
	#skills{
		opacity: 0;
		background-color: #ffffff;
		h2 {
			padding-bottom: 6vh;
		}
		h3 {
			text-align: center;
			margin: 0 auto 8vh auto;
			font-size: $header3-small-font-size;
		}
		span {
			color: $green;
		}
		p {
			line-height: 45px;
			text-align: justify;
			width: 50vw;
			margin: 0 auto 5vh auto;
			&:hover{
				strong {
					color: $green;
				}

			}
		}

		//donut char
		#chart {
			padding-bottom: 5vh;
		}
	}
		//Medium Screen <= 768px
	@media(max-width: $medium-screen) {
		#skills {
			opacity: 1;
			p {
				line-height: 28px;
				width: 90%;
				strong {
					color: $green;
				}
			}

		}
	}
}