@include exports('slider') {
	#slider{
		h2 {
			span {
				color: $green;
			}
		}
		ul {
			list-style-type: none;
			border-bottom: 1px solid $grey;
			width: 800px;
			margin: 15px auto;
			padding: 25px 0; 
			li {
				display: inline-block;
				text-align: center;
				width: 33%;
				background: rgba(200,200,200,0.4);
				border-left: 2px solid transparent;
				a {
					padding: 20px 0;
					color: $grey;
					text-decoration: none;
					display: inline-block;
					width: 100%;
					outline: 0;
				}
				&:nth-child(1) {
					&:hover{
						a {
							color: $blue;
						}
					}
				}
				&:nth-child(2) {
					border-left: 1px solid rgba(136,136,136,0.23);
					border-right: 1px solid rgba(136,136,136,0.23);
					&:hover {
						a {
						color: $purple;
						}
					}
				}
				&:nth-child(3):hover{
						a {
						color: $pink;
					}
				}

				&.active {
					background: transparent;
					&:nth-child(1){
						border-color: $blue;
					}
					&:nth-child(2){
						border-left: 2px solid $purple;
						border-right: 0px;
					}
					&:nth-child(3){
						border-color: $pink;
					}
					a {
						color: $font-color;
						font-weight: bold;
					}
				}
			}
		}
	}
	#slide{
		.content{
			width: 800px;
			margin: 0 auto;
		}
		section {
			display: none;
		}
		#believe {
			display: block;
		}
	}
	//Small Screen <= 425px
	@media(max-width: $small-screen) {
		#slider {
			ul {
				border-bottom: none;
				width: 300px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				li {
					display: block;
					width: 99%;
					a {
						padding-right: 0px;
					}
					&:nth-child(2) {
						border-left: 2px solid transparent;
						border-right: 0px;
					} 
				}
			}
		}
		#slide{
			.content{
				width: auto;
				margin: 0 auto;
				padding: 0 15px;
			}
		}
	}
	//Medium Screen <= 768px
	@media(min-width: $small-screen) and (max-width: $medium-screen) {
		#slider {
			ul {
				border-bottom: none;
				width: 390px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				li {
					width: 94%;
					display: block;
					&:nth-child(2) {
						border-right: 0px;
						border-left: 2px solid transparent; 
						&.active {
							border-left: 2px solid $purple; 		
						}
					}
				}
			}
		}
		#slide{
			.container {
				min-width: 400px;
				max-width: 700px;
				.content {
					width: auto;
					margin: 0 auto;
					padding: 0 25px;
				}
			}
		}
	}
	@media(min-width: 700px) and (max-width: $medium-screen) {
		#slider {
			.container {
				min-width: 500px;
			}
		}
	}
	@media(min-width: 769px) and (max-width: $large-screen) {
		#slider {
			ul {
				width: 750px;
			}
		}
		#slide{
			.container {
				width: 750px;
				.content {
					width: auto;
					margin: 0 auto;
					padding: 0 25px;
				}
			}
		}
	}
	#aboutPage {
    	background: url('../images/team/Quorum_NB_group_Retouche5.jpg');
    	background-size: cover;
    	background-attachment: fixed;
  	}
  	@media(max-width: 1024px) {
  		#aboutPage {
  			background-size: auto 100%;
    		background-position: 50%;
    	}
  	}
}