@include exports('slider') {
	#slider{
		ul {
			list-style-type: none;
			border-bottom: 1px solid $grey;
			width: 800px;
			margin: 15px auto;
			padding: 25px 0; 
			li {
				display: inline;
				text-align: left;
				a {
					padding: 12px 92px 12px 20px;
					color: $grey;
					text-decoration: none;
				}
				&.active {
					&:nth-child(1){
						a {
							border-color: $blue;
						}
					}
					&:nth-child(3){
						a {
							border-color: $green;
						}
					}
					&:nth-child(2){
						a {
							border-color: $purple;
						}
					}
					&:nth-child(4){
						a {
							border-color: $pink;
						}
					}
					a {
						border-left: 2px solid;
						color: $font-color;
					}
				}
			}
		}
	}
	#slide{
		.content{
			width: 800px;
			margin: 0 auto;
		}
		section {
			display: none;
		}
		#believe {
			display: block;
		}
	}
	//Small Screen <= 425px
	@media(max-width: $small-screen) {
		#slider {
			ul {
				border-bottom: none;
				width: 300px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				li {
					display: block;
					padding: 20px;
				}
			}
		}
		#slide{
			.content{
				width: auto;
				margin: 0 auto;
				padding: 0 15px;
			}
		}
	}
	//Medium Screen <= 768px
	@media(min-width: $small-screen) and (max-width: $medium-screen) {
		#slider {
			ul {
				border-bottom: none;
				width: 400px;
				padding-bottom: 0px;
				margin-bottom: 0px;
				li {
					display: block;
					padding: 20px;
				}
			}
		}
		#slide{
			.container {
				min-width: 400px;
				max-width: 700px;
				.content {
					width: auto;
					margin: 0 auto;
					padding: 0 25px;
				}
			}
		}
	}
	@media(min-width: 700px) and (max-width: $medium-screen) {
		#slider {
			.container {
				min-width: 500px;
			}
		}
	}
	@media(min-width: 769px) and (max-width: $large-screen) {
		#slider {
			ul {
				width: 750px;
			}
		}
		#slide{
			.container {
				width: 750px;
				.content {
					width: auto;
					margin: 0 auto;
					padding: 0 25px;
				}
			}
		}
	}
}