@include exports('team') {
	#team{
		p {
			text-align: justify;
		}
		.container{
			.content {
				img {
					border-radius: 0px;
					max-width: 100%;
				}
				padding-bottom: 30px;
				a {
					color: $green;
				}
			}
			div.member {
				p { 
					text-align: center; 
				}
				width: 236px;
				display: inline-block;
				margin: 30px 15px;
				img {
					max-width: 100%;
					border-radius: 50%;
				}
			}
		}
	}
}