@include exports('team') {
	#team{
		opacity: 0;
		span{
			color: $purple;
		}
		.container{
			.content {

				
			}
		.member {


			width: 35%;
			display: inline-block;
			margin: 5vh 7.5%;

			.descriptionPerson { 
				text-align: center; 
				line-height: 15px;
				overflow: visible;
				height: 56px;
			}
			div {
				text-align: center;

				a {
					color: $purple;
					text-decoration: none;
					i {
						margin: 0 5px;
					}
					&:hover {
						color: $red;
					}
				}
			}

			img { //passage noir et blanc
				max-width: 100%;
				margin-bottom: 10px; 
				-webkit-filter: grayscale(1);
				-o-filter: grayscale(1);
				-moz-filter: grayscale(1);
				-ms-filter: grayscale(1);
				filter: grayscale(1);
				&:hover {
					-webkit-filter: grayscale(0);
					-o-filter: grayscale(0);
					-moz-filter: grayscale(0);
					-ms-filter: grayscale(0);
					filter: grayscale(0);
				}
			}
			.hidden{
				display:none;
			}

			}
		}
	}
	@media(max-width: $small-screen) {
		#team {
			.container {
				.content {

					div.member {
						margin-bottom: 0px;
						p {
							padding: 0 6px;
							margin-top: 0px;
							overflow: visible;
							height: 16px;
							i {
								padding: 0 3px;
							}
						}
					}
					button {
						margin: 30px auto 0 auto;
						display: block;
					}
				}
			}
		}
	}
	@media(min-width: $small-screen) and (max-width: $large-screen) {
		#team {
			.container {
				.content {

					div.member {
						margin-bottom: 0px;
						p {
							padding: 0 6px;
							margin-top: 0px;
							overflow: visible;
							height: 16px;
							i {
								padding: 0 3px;
							}
						}
					}
					button {
						margin: 30px auto 0 auto;
						display: block;
					}
				}
			}
		}
	}

	#jobs{ // postuler
		opacity: 0;
		background-image: url('../images/team/Quorum_NB_group_Retouche5.jpg');
		background-position: center;
		background-size: cover;
		background-attachment: fixed;


		span {
			color: $pink;
		}
	
		p {
			margin: auto;
			width: 50vw;
			text-align: justify;
			line-height: 45px;
			&:hover {
				strong {
					color: $pink;
				}
			}
		}
		a{
			text-decoration: none;
			display: block;
			button {
				background-color: $pink;
				display: block;
				margin: 5vh auto;
				&:hover {
					background-color: $red;
				}
			}
		}
		

		i {
			display: block;
			font-size: 32px;
			text-align: center;
			color: $pink;
			padding: 20px 0 90px 0;

			&:hover {
				color: $red;
			}
		}

		.linkedIn {
			text-align: center;
			}

	}

	#sayhello {
		opacity: 0;
		h2{
			margin: 0;
		}
		padding-bottom: 30px;
		padding: 0;
		background: url('../images/header/home-header2.jpg');
		background-attachment: fixed;
		background-position: center;		
		width: 100vw;
		span {
			color: $blue;
		}
		.container {
			width: 90%;
			color: $light-grey;
  		
			ul {
				padding: 0;
				list-style-type: none;
				margin: 0;
				li{
					display: inline-block;
				}
				li:nth-child(1) { // formulaire
					vertical-align : top;
					form {
						input, textarea {
							width: 42vw;
							border: 0;
							border-bottom: 1px solid #E0E0E0;
							padding: 10px 0;
							margin-bottom: 10px;
							outline: none;
							background-color: transparent;
							cursor: pointer;
							-webkit-input-placeholder: $light-grey;
							-moz-placeholder { /* Mozilla Firefox 4 to 18 */
							   color: $light-grey;
							   opacity: 1;
							}
							-moz-placeholder { /* Mozilla Firefox 19+ */
							   color: $light-grey;
							   opacity: 1;
							}
							:-ms-input-placeholder { /* Internet Explorer 10+ */
							   color: $light-grey;
							}

						}
						.red {
							margin-left: 50px;

						}
						
						.input {
							position: relative;
							.border-input, .border-textarea {
								position:absolute;
								width: 0;
								height: 1px;
								&.active {
									width: 450px;
								}
							}
							.border-input {
								bottom: 10px;
							}
							.border-textarea {
								bottom: 13px;
							}
						}
						button:hover {
							background-color: $red;
						}
					}

						p:nth-child(2) {
							display: block;
							margin-top: 5px;
							margin-left: 3px;
						}
				}
				li:nth-child(2) { // réseaux sociaux et blog
					p {
						margin: 8vh auto 0 auto;
						width: 50vw;
						color: $light-grey;
						i {
							color: $grey;
							padding: 12px 5px;
						}
						a {
							text-decoration: none;
							color: $font-color;
						}
						.fa-map-marker {
							margin-right: 12px;
						}
					}
					ul{
						list-style-type: none;
						li {
							display: inline;
							margin: 50px 25px;
							a {
								color: $light-grey;
								text-decoration: none;
								&:hover {
									color: $red;
								}
							}
							i {
								font-size: 30px;
							}
						}
					}
				}
			}	
	  	}
		button {
			background-color: $blue;
			margin: 4vh auto;
			padding: 1vh 2vw;
			&:hover {
				background-color: $red;
			}
		}
		p {
			margin: auto;
			width: 50vw;
			color: $font-color;
		}

		i:hover {
			color: $red;
		}
		ul {
			width: 100%;
			text-align: center;

		}

	}
}