@include exports('team') {
	#team{
		p {
			line-height: 35px;
			text-align: justify;
		}
		.container{
			.content {
				b {
					color: $purple;
					font-weight: 100;
				}
				img {
					border-radius: 0px;
					max-width: 100%;
				}
				padding-bottom: 30px;
				a {
					color: $purple;
					text-decoration: none;
					i {
						font-size: 32px;
						margin: 0 15px;
					}
					&:hover {
						color: $red;
					}
				}
				p:nth-of-type(2) {
					text-align: center;
				}
			}
			div.member {
				p { 
					text-align: center; 
					line-height: 15px;
					&:nth-child(4) {
						height: 25px;
					}
				}
				width: 236px;
				display: inline-block;
				margin: 30px 15px;
				img {
					max-width: 100%;
					border-radius: 50%;
					margin-bottom: 10px; 
					-webkit-filter: grayscale(1);
					-o-filter: grayscale(1);
					-moz-filter: grayscale(1);
					-ms-filter: grayscale(1);
					filter: grayscale(1);
					&:hover {
						-webkit-filter: grayscale(0);
						-o-filter: grayscale(0);
						-moz-filter: grayscale(0);
						-ms-filter: grayscale(0);
						filter: grayscale(0);
					}
				}
			}
			button {
				&:hover {
					background-color: $red;
				}
			}
		}
	}
	@media(max-width: $small-screen) {
		#team {
			.container {
				.content {
					p {
						text-align: left;
					}
					div.member {
						margin-bottom: 0px;
						p {
							display: inline-block;
							padding: 0 6px;
							margin-top: 0px;
							i {
								padding: 0 3px;
							}
						}
					}
					button {
						margin: 30px auto 0 auto;
						display: block;
					}
				}
			}
		}
	}
	@media(min-width: $small-screen) and (max-width: $large-screen) {
		#team {
			.container {
				.content {
					p {
						text-align: left;
					}
					div.member {
						margin-bottom: 0px;
						p {
							display: inline-block;
							padding: 0 6px;
							margin-top: 0px;
							i {
								padding: 0 3px;
							}
						}
					}
					button {
						margin: 30px auto 0 auto;
						display: block;
					}
				}
			}
		}
	}
}