extends ./layout.jade
block vars
    - var pageTitle = 'About'
block content
    header#about
        .container
            h1 About us
    main
        section#believe
            .container
                header
                    h3
                        span What We Believe In
                .content
                    h4 Data & technology don’t build movements or share passions, people do.
                    p Organizations today are facing problems of unprecedented scale and complexity.  These are the problems we think technology and data can help to solve. This is why we’ve created Quorum; to create positive social change and empower people though technology. But we need to look at the future and these news goals & opportunities without forgetting our core values. 
                    ul
                        li PRIVACY & CIVIL LIBERTIES 
                        li EMANCIPATE DATA 
                        li OPEN SOFWARE
                        li ACHIEVE OUTCOMES AND GET REAL IMPACT
                        li TECHNOLOGY HAVE TO ADAPT TO HUMAN, NOT THE OTHER WAY AROUND
                    p Because technology and data can’t be the ultimate goal; it is just a mean to help PEOPLE and organization to optimize their everyday actions and achieve goals.
        section#team
            .container
                header
                    h3
                        span Team
                .content
                    h4 Collective Intelligence is our DNA. 
                    p We are veterans of IT firms, we are bankers who write code, campaigners and social sciences experts who build algorithms, nonprofits alumni who all together want to create positive social change. 
                    h4 Skills
                    ul
                        li IT 
                        li Data Sciences 
                        li Cognitiv Sciences 
                        li Social & Political Sciences
                        li Communication 
                        li Business Dev
                    div
                        img(src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png")
                        p Florent Barre
                        p
                            i.icon-linkedin
                            i.icon-twitter
                    div
                        img(src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png")
                        p Maxime Beylot
                        p
                            i.icon-linkedin
                            i.icon-twitter
                    div
                        img(src="https://image.freepik.com/free-icon/male-user-shadow_318-34042.png")
                        p Jean-Baptiste Daniel
                        p
                            i.icon-linkedin
                            i.icon-twitter
                    div
                        img(src="../images/team/loic.png")
                        p Loic Rakoto
                        p
                            i.icon-linkedin
                            i.icon-twitter
                    div
                        img(src="../images/team/lucien.png")
                        p Lucien Varacca
                        p
                            i.icon-linkedin
                            i.icon-twitter
                    div
                        img(src="../images/team/lisa.png")
                        p Lisa Grenier
                        p
                            i.icon-linkedin
                            i.icon-twitter
        section#findUs
            .container
                header
                    h3
                        span Find Us
                .left
                    p +33 1 79 73 40 04 – info@quorumimpact.com
                    p 124 avenue de Villiers 75017 PARIS
                    p 9 rue de Condé 33000 BORDEAUX
                    ul
                        li
                            a(href='//facebook.com/quorumimpact' target="_blank")
                                i.icon-facebook
                        li
                            a(href='//twitter.com/quorumimpact' target="_blank")
                                i.icon-twitter
                        li
                            a(href='//www.linkedin.com/company/10114882' target="_blank")
                                i.icon-linkedin
                        li
                            a(href='//google.com/+Quorumappsdata' target="_blank")
                                i.icon-google
                .right
                    img(src="http://www.developpez.net/forums/attachments/p166896d1421856637/java/general-java/java-mobiles/android/integrer-personnaliser-carte-type-google-maps/googlemap.gif/")
        section#job
            .container
                header
                    h3
                        span Jobs
                .content
                    p If you believe in appling cutting edge research to real-world problems, want to keep learning every day to stay ahead of the curve, if you believe in passion and creativity - then get in touch, we may have something for you. 
                    .middle
                        button Get In Touch
                        p Follow us on Linked In to see our latest job offers 