extends ./layout.jade
block vars
    - var pageTitle = 'About'
block content
    header#about.small
    main
        section#slider
            .container
                h2 Data & technology don’t build movements or share passions, people do.
                ul
                    li.active
                        a(href="#believe") What We Believe In
                    li
                        a(href="#skills") Skills 
                    li
                        a(href="#team") Team  
                    li
                        a(href="#jobs") Jobs  
        #slide
            section#believe
                .container
                    .content
                        p 
                            span Organizations today are facing problems of unprecedented scale and complexity. These are the problems we think technology and data can help to solve. This is why we’ve created Quorum: to create 
                            b
                                positive social change 
                            span and empower people though technology. But we need to look at the future and these news goals & opportunities without forgetting our core values. 
                        ul
                            li 
                                div.icon
                                    object(type="image/svg+xml" data="../images/icons/check-blue.svg")
                                div.sentence
                                    span PRIVACY & CIVIL LIBERTIES 
                            li 
                                div.icon
                                    object(type="image/svg+xml" data="../images/icons/check-blue.svg")
                                div.sentence
                                    span EMANCIPATE DATA 
                            li 
                                div.icon
                                    object(type="image/svg+xml" data="../images/icons/check-blue.svg")
                                div.sentence
                                    span OPEN SOFWARE
                            li 
                                div.icon
                                    object(type="image/svg+xml" data="../images/icons/check-blue.svg")
                                div.sentence
                                    span ACHIEVE OUTCOMES AND GET REAL IMPACT
                            li 
                                div.icon
                                    object(type="image/svg+xml" data="../images/icons/check-blue.svg")
                                div.sentence
                                    span TECHNOLOGY HAVE TO ADAPT TO HUMAN, NOT THE OTHER WAY AROUND
                        p Because technology and data can’t be the ultimate goal; it is just a mean to help PEOPLE and organization to optimize their everyday actions and achieve goals.
            section#skills
                .container
                    .content
                        ul
                            li 
                                object(type="image/svg+xml" data="../images/icons/check-purple.svg")
                                span IT 
                            li 
                                object(type="image/svg+xml" data="../images/icons/check-purple.svg")
                                span Data Sciences 
                            li 
                                object(type="image/svg+xml" data="../images/icons/check-purple.svg")
                                span Cognitiv Sciences 
                            li 
                                object(type="image/svg+xml" data="../images/icons/check-purple.svg")
                                span Social & Political Sciences
                            li 
                                object(type="image/svg+xml" data="../images/icons/check-purple.svg")
                                span Communication 
                            li 
                                object(type="image/svg+xml" data="../images/icons/check-purple.svg")
                                span Business Dev
            section#team
                .container
                    .content
                        h3 Collective Intelligence is our DNA. 
                        p We are veterans of IT firms, we are bankers who write code, campaigners and social sciences experts who build algorithms, nonprofits alumni who all together want to create positive social change. 
                        
                        div.member
                            img(src="../images/team/florent-small.png")
                            p Florent Barre
                            p CEO
                            p
                                a(href="")
                                    i.icon-linkedin
                                a(href="")
                                    i.icon-twitter
                        div.member
                            img(src="../images/team/maxime-small.png")
                            p Maxime Beylot
                            p CCO
                            p
                                a(href="")
                                    i.icon-linkedin
                        div.member
                            img(src="../images/team/jean-baptiste-small.png")
                            p Jean-Baptiste Daniel
                            p CTO
                            p
                                a(href="")
                                    i.icon-linkedin
                        button.green Blog
            section#jobs
                .container
                    .content
                        p If you believe in appling cutting edge research to real-world problems, want to keep learning every day to stay ahead of the curve, if you believe in passion and creativity - then get in touch, we may have something for you. 
                        .middle
                            button.pink Get In Touch
                            span Follow us on Linked In to see our latest job offers 
                            a(href="www.linkedin.com/company/10114882")
                                i.icon-linkedin
block javascript
    script(src="javascripts/slide.js")     