extends ./layout.jade
block vars
    - var pageTitle = 'Home'
block content
    header#home
        .container
            h1 MOBILISE BEYOND EXPECTATIONS
            h2 Every movement starts with a simple talk

    main
        section#product
            .container
                header
                    h3
                        span Product
                .content
                    p Build people centered, meaningful and organized field actions.
                    p The app that makes every interaction with people count.
        section#webconsole
            img(src="../images/home/webconsole-test.png")
            .container
                header
                    h3
                        span Web Console
                .content
                    .top
                        h4 Organize
                        p Build, lead and organize your team at any scale
                    .bottom
                        h4 Analyse : Use data beyond expectations to sharpen your strategy
                        p Identify swing zones 
                        p Get key characteristics about people and territories
                        p Build & develop long term & personalized relationships 
                        p Develop custom survey
                        p Track, Analyze and predict with data 
                        p Receive real-time results of your team progressions & actionable insights
            div.clearfix
        section#mobile
            .container
                header
                    h3
                        span Mobile
                .content
                    h4
                        span Build big movements from your smartphone
                        span Save hours with instant capture on the field
                    p Anytime/anywhere information about your cause for your team
                    p Anytime/anywhere add a new person or organization to your movement
                    p Anytime/Anywhere log contact, assign tags, set follow-ups, change volunteer status,
                    p record donations and adjust support level
                    p Motivate the team
                    p Don’t fill contact forms, hold conversation with people thanks to targeted information 
                    p Integrated Canvassing features
                    p Find teammates to drive action together
                    p Follow your movement and teammates progression
            img(src="../images/home/mobile-test.png")
            div.clearfix
        section#target
            .container
                header
                    h3
                        span Target
                h4 Build a movement with the field
                div
                    a(href='#')
                        button.target
                            p Campaigners
                div
                    a(href='#')
                        button.target
                            p Non Profits
                div
                    a(href='#')
                        button.target
                            p Agency
                            p Avocacy
                div
                    a(href='#')
                        button.target
                            p Individuals
        section#cta
            .container
                .content
                    a(href='#')
                        button
                            span Get Early Access
        