extends ./layout.jade
block vars
    - var pageTitle = 'Home'
block content
    header#home.big
        .container
            h1 Mobilise Beyond 
                span expectations
            p.subtitle Every movement starts with a simple talk.
            button.blue Get Early Access

    main
        section#product
            .container
                h2 Build people centered, meaningful and 
                    p organized field actions.
                span.quote The app that makes every interaction with people count.
        section#webconsole
            .container
                .content
                    i.fa.fa-desktop.fa-lg
                    span.part ORGANISE
                    h3 Build, lead and organize your 
                        p team at any scale
                    hr.green.title
                    .list
                        div.line
                            div.icon 
                                i.fa.fa-check
                            div.sentence    
                                b Analyse : Use data beyond expectations to sharpen your strategy
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Identify swing zones 
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Get key characteristics about people and territories
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Build & develop long term & personalized relationships 
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Develop custom survey
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Track, Analyze and predict with data 
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Receive real-time results of your team progressions & actionable insights
        section#mobile
            .container
                .content
                    i.fa.fa-mobile.fa-2x
                    span.part ON THE GO
                    h3 Build big movements from 
                        p your smartphone
                    hr.pink.title
                    .list
                        div.line                         
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                b Save hours with instant capture on the field
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Anytime/anywhere information about your cause for your team
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Anytime/anywhere add a new person or organization to your movement
                        dive.line
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Anytime/Anywhere log contact, assign tags, set follow-ups, change volunteer status, record donations and adjust support level
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Motivate the team
                        div.line
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Don’t fill contact forms, hold conversation with people thanks to targeted information 
                        div.line    
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Integrated Canvassing features
                        div.line    
                            div.icon
                                i.fa.fa-check
                            div.sentence
                                span Find teammates to drive action together
                        div.line    
                            div.icon
                                i.fa.fa-check
                            div.sentence    
                                span Follow your movement and teammates progression
            .clearfix
        section#target
            .container
                h2 Target
                h3 Build a movement with the field
                ul
                    li
                        a(href='#')
                            button.blue
                                p Campaigners
                    li
                        a(href='#')
                            button.pink
                                p Non Profits
                    li
                        a(href='#')
                            button.green
                                p Agency & Avocacy
                    li
                        a(href='#')
                            button.purple
                                p Individuals
                a(href='#')
                    button.dark-blue Get Early Access
        section#contact
            .container
                .left
                    h2 Contact Form
                    form
                        div.input
                            input(type="email" placeholder="Your email")
                            .border-input.green
                        div.input
                            input(type="text" placeholder="Your name")
                            .border-input.green
                        div.input
                            textarea(rows="6" placeholder="Your message")
                            .border-textarea.green
                        p
                            button(type="submit").green Submit
                .right
                    h2 Contact Info
                    p 
                        i.fa.fa-phone.fa-lg
                        span +33 1 79 73 40 04 
                    p 
                        i.fa.fa-envelope
                        span info@quorumimpact.com
                    p 
                        i.fa.fa-map-marker.fa-lg
                        span 124 avenue de Villiers 75017 PARIS
                        span Rue de Condé 33000 BORDEAUX
                    ul
                        li
                            a(href='//facebook.com/quorumimpact' target="_blank")
                                i.icon-facebook
                        li
                            a(href='//twitter.com/quorumimpact' target="_blank")
                                i.icon-twitter
                        li
                            a(href='//www.linkedin.com/company/10114882' target="_blank")
                                i.icon-linkedin
                        li
                            a(href='//google.com/+Quorumappsdata' target="_blank")
                                i.icon-google
            div.clearfix



        