extends ./layout.jade
block vars
    - var pageTitle = 'Home'
block content
    header#home.big
        .container
            h1 MOBILISE BEYOND EXPECTATIONS
            h2 Every movement starts with a simple talk
            button.green Get Early Access

    main
        section#product
            .container
                h3 Product
                hr.title.green
                p Build people centered, meaningful and organized field actions.
                p.blank
                p The app that makes every interaction with people count.
        hr
        section#webconsole
            .container
                h3 Web Console
                hr.title.pink
                .content
                    .top
                        h4 Organize
                        p Build, lead and organize your team at any scale
                    .bottom
                        h4 Analyse : Use data beyond expectations to sharpen your strategy
                        p Identify swing zones 
                        p Get key characteristics about people and territories
                        p Build & develop long term & personalized relationships 
                        p Develop custom survey
                        p Track, Analyze and predict with data 
                        p Receive real-time results of your team progressions & actionable insights
        hr
        section#mobile
            .container
                h3 Mobile
                hr.title.purple
                .content
                    h4 Build big movements from your smartphone
                    b Save hours with instant capture on the field
                    p Anytime/anywhere information about your cause for your team
                    p Anytime/anywhere add a new person or organization to your movement
                    p Anytime/Anywhere log contact, assign tags, set follow-ups, change volunteer status, record donations and adjust support level
                    p Motivate the team
                    p Don’t fill contact forms, hold conversation with people thanks to targeted information 
                    p Integrated Canvassing features
                    p Find teammates to drive action together
                    p Follow your movement and teammates progression
        hr
        section#target
            .container
                h3 Target
                hr.title.dark-blue
                h4 Build a movement with the field
                ul
                    li
                        a(href='#')
                            button.blue
                                p Campaigners
                    li
                        a(href='#')
                            button.dark-pink
                                p Non Profits
                    li
                        a(href='#')
                            button.green
                                p Agency & Avocacy
                    li
                        a(href='#')
                            button.purple
                                p Individuals
        section#cta
            .container
                .content
                    a(href='#')
                        button.dark-blue Get Early Access
        