extends ./layout.jade
block vars
    - var pageTitle = 'Home'
block content
    header#home.big
        .container
            h1 Mobilise Beyond 
            h1 expectations
            p.subtitle Every movement starts with a simple talk.
            button.blue Get Early Access

    main
        section#product
            .container
                h2 Build people centered, meaningful and 
                    p organized field actions.
                span.quote The app that makes every interaction with people count.
        section#webconsole
            .container
                .content
                    i.fa.fa-desktop.fa-lg
                    span.part ORGANISE
                    h3 Build, lead and organize your 
                    h3 team at any scale
                    hr.green.title
                    b
                        p 
                            i.fa.fa-check
                            span Analyse : Use data beyond expectations to sharpen your strategy
                    p 
                            i.fa.fa-check
                            span Identify swing zones 
                    p 
                            i.fa.fa-check
                            span Get key characteristics about people and territories
                    p 
                            i.fa.fa-check
                            span Build & develop long term & personalized relationships 
                    p 
                            i.fa.fa-check
                            span Develop custom survey
                    p 
                            i.fa.fa-check
                            span Track, Analyze and predict with data 
                    p 
                            i.fa.fa-check
                            span Receive real-time results of your team progressions & actionable insights
        section#mobile
            .container
                .content
                    i.fa.fa-mobile.fa-2x
                    span.part ON THE GO
                    h3 Build big movements from 
                    h3 your smartphone
                    hr.pink.title
                    b 
                        p 
                            i.fa.fa-check
                            span Save hours with instant capture on the field
                    p 
                        i.fa.fa-check
                        span Anytime/anywhere information about your cause for your team
                    p 
                        i.fa.fa-check
                        span Anytime/anywhere add a new person or organization to your movement
                    p 
                        i.fa.fa-check
                        span Anytime/Anywhere log contact, assign tags, set follow-ups, change volunteer status, record donations and adjust support level
                    p 
                        i.fa.fa-check
                        span Motivate the team
                    p 
                        i.fa.fa-check
                        span Don’t fill contact forms, hold conversation with people thanks to targeted information 
                    p 
                        i.fa.fa-check
                        span Integrated Canvassing features
                    p 
                        i.fa.fa-check
                        span Find teammates to drive action together
                    p 
                        i.fa.fa-check
                        span Follow your movement and teammates progression
            .clearfix
        section#target
            .container
                h2 Target
                h3 Build a movement with the field
                ul
                    li
                        a(href='#')
                            button.blue
                                p Campaigners
                    li
                        a(href='#')
                            button.pink
                                p Non Profits
                    li
                        a(href='#')
                            button.green
                                p Agency & Avocacy
                    li
                        a(href='#')
                            button.purple
                                p Individuals
        section#cta
            .container
                .content
                    a(href='#')
                        button.dark-blue Get Early Access
        