p Si ce texte apparait, veuillez activer le javascript sur votre navigateur
script(type="text/javascript").
    var lang = navigator.language;
    var regex = /^fr/;
    if (regex.test(lang))
    { 
        window.location= "//"+window.location.hostname+"/fr/";
    } else {
    	window.location= "//"+window.location.hostname+"/en/";
    }

