extends ./layout.jade
block vars
    - var pageTitle = 'Home'
block content
    header#home.big
        .container
            h1 Mobilise beyond 
                span expectations
            p.subtitle Every movement starts with a simple talk.
            button.blue Get Early Access

    main
        section#product
            .container
                h2 Build people centered, meaningful and 
                    p organized field actions.
                span.quote The app that makes every interaction with people count.
        section#webconsole
            .container
                .content
                    i.fa.fa-desktop.fa-lg
                    span.part ORGANISE
                    h3 Build, lead and organize your 
                        p team at any scale
                    hr.green.title
                    .list
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                b Analyse : Use data beyond expectations to sharpen your strategy
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                span Identify swing zones 
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                span Get key characteristics about people and territories
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                span Build & develop long term & personalized relationships 
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                span Develop custom survey
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                span Track, Analyze and predict with data 
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-green.svg")
                            div.sentence
                                span Receive real-time results of your team progressions & actionable insights
        section#mobile
            .container
                .content
                    i.fa.fa-mobile.fa-2x
                    span.part ON THE GO
                    h3 Build big movements from 
                        p your smartphone
                    hr.pink.title
                    .list
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span
                                    b Save hours with instant capture on the field
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Anytime/anywhere information about your cause for your team
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Anytime/anywhere add a new person or organization to your movement
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Anytime/Anywhere log contact, assign tags, set follow-ups, change volunteer status, record donations and adjust support level
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Motivate the team
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Don’t fill contact forms, hold conversation with people thanks to targeted information 
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Integrated Canvassing features
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Find teammates to drive action together
                        div.line
                            div.icon
                                object(type="image/svg+xml" data="../images/icons/check-pink.svg")
                            div.sentence
                                span Follow your movement and teammates progression
            .clearfix
        section#target
            .container
                h2 Build a movement with the field
                span.quote Read about how Quorum helped teams succeed and better communicate with their targets
                ul
                    li
                        button Campaigners 
                    li
                        button Agency & Avocacy
                    li
                        button Non Profits
                    li
                        button Individuals
                a(href='#')
                    button.blue Get Early Access
        section#contact
            .container
                ul
                    li
                        h2 Contact Form
                        form(action='//quorum-impact.us12.list-manage.com/subscribe/post?u=8d7c7595072992d8808c7993d&id=945bb5e298&c=?', method='post')
                            div.input
                                input#mce-EMAIL.email(type='email', value='', name='EMAIL', placeholder='Your email address', required='')
                                .border-input.blue
                                
                            div.input
                                input#mce-LNAME(name='LNAME' type="text" placeholder="Your name")
                                .border-input.blue
                            div.input
                                textarea#mce-MMERGE1(name='MMERGE1' rows="6" placeholder="Your message")
                                .border-textarea.blue
                            p
                                button.blue#mc-embedded-subscribe(type='submit') GO!
                    li
                        h2 Contact Info
                        p 
                            i.fa.fa-phone.fa-lg
                            span +33 1 79 73 40 04 
                        p 
                            i.fa.fa-envelope
                            span info@quorum-impact.com
                        p 
                            i.fa.fa-map-marker.fa-lg
                            span 124 avenue de Villiers - 75017 PARIS
                        p
                            i.fa.fa-map-marker.fa-lg
                            span 9 rue de Condé - 33000 BORDEAUX
             
                        p   Don't miss any of our events, news and publications, follow us :
                            ul
                                li
                                    a(href='//facebook.com/quorumimpact' target="_blank")
                                        i.icon-facebook
                                li
                                    a(href='//twitter.com/quorumimpact' target="_blank")
                                        i.icon-twitter
                                li
                                    a(href='//www.linkedin.com/company/10114882' target="_blank")
                                        i.icon-linkedin
                                li
                                    a(href='//google.com/+Quorumappsdata' target="_blank")
                                        i.icon-google

                
            div.clearfix



        