doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1')
        title #{pageTitle} - Quorum
        meta(name='description' content='Quorum')
        meta(name='keywords' content='quorum')
        meta(name='author' content='Lisa Grenier - Quorum')
        link(rel='stylesheet' href='stylesheets/app.css')
    body.fr
        nav#nav
            .content
                a(href='/').navbar-brand
                    img(src='images/logo/logo-white.svg' alt='Logo Quorum')
                button.nav-toggle
                    i.fa.fa-bars
                div.bar
                    ul.nav
                        li 
                            a(href='/index.html#product') Product
                        li
                            a(href='/index.html#contact') Contact Us
                    .banner
                        i.fa.fa-phone
                        span  +33 1 79 73 40 04
                        button Get Early Access
        block content        
        footer#footer
            .container
                .copyright
                    span &copy; Quorum 2016 
                ul.social-links
                    li
                        a(href='//facebook.com/quorumimpact' target="_blank")
                            i.fa.fa-facebook-official.fa-lg
                    li
                        a(href='//twitter.com/quorumimpact' target="_blank")
                            i.fa.fa-twitter-square.fa-lg
                    li
                        a(href='//www.linkedin.com/company/10114882' target="_blank")
                            i.fa.fa-linkedin-square.fa-lg
                    li
                        a(href='//google.com/+Quorumappsdata' target="_blank")
                            i.fa.fa-google-plus-square.fa-lg
                ul.nav-footer
                    li
                        a(href='/about.html') About
                    li
                        a(href='#') Blog
                    li
                        a(href='#') Legal
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='javascripts/TweenMax.js')
    script(src='//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.js')
    script(src='javascripts/plugins/animation.gsap.js')
    script(src="javascripts/typed.js")
    script(src="javascripts/menu.js")
    script(src="javascripts/form.js")
    script(src="javascripts/slide.js")
    
