doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1')
        title #{pageTitle} - Quorum
        meta(name='description' content='Data & Analytics, Communication ciblée,  Pilotage; Quorum accompagne les collectivités territoriales, ONG, candidats aux élections et leaders d’influence')
        meta(name='keywords' content='quorum')
        meta(name='author' content='Lisa Grenier - Quorum')
        meta(property="og:title" content="Quorum")
        meta(property="og:type" content="WebSite")
        meta(property="og:url" content="https://www.quorum-impact.com/")
        meta(property="og:image" content="https://www.quorum-impact.com/public/images/icons/avatar-rs-2.png")
        link(rel="icon" href="../../images/icons/favicon.ico")
        link(rel='stylesheet' href='../stylesheets/app.css')
        <!--[if IE 8]>
        link(rel='stylesheet' href='../stylesheets/ie.css')
        <![endif]-->
        <!--[if IE 9]>
        link(rel='stylesheet' href='../stylesheets/ie.css')
        <![endif]-->
    body.en

        script(type="text/javascript").
            var lang = navigator.language;
            var regex = /^fr/;
            if (regex.test(lang))
            { 
                lang = "fr";
                document.body.className = lang;
            }
        nav#nav
            .content
                a(href='/').navbar-brand
                    img(src='../../images/logo/logo-white.svg' alt='Logo Quorum')
                button.nav-toggle
                    i.fa.fa-bars
                div.bar
                    ul.nav
                        li 
                            a(href='/#product') 
                                span(lang="fr") Produit
                                span(lang="en") Product
                        li
                            a(href='/#contact') 
                                span(lang="fr") Nous contacter
                                span(lang="en") Contact Us
                    .banner
                        img(src="../../images/icons/phone.svg")
                        span  +33 1 79 73 40 04
                        a(lang="fr" href="http://eepurl.com/bWGgCL" target="_blank")
                            button S'inscrire
                        a(lang="en" href="http://eepurl.com/bWJkZr" target="_blank")
                            button Get Early Access
                        span.flag
                            a(href="" lang="fr") EN
                        span.flag
                            a(href="#" lang="en") FR
        block content        
        footer#footer
            .container
                .copyright
                    span &copy; Quorum 2016 
                ul.social-links
                    li
                        a(href='//facebook.com/quorumimpact' target="_blank")
                            i.icon-facebook
                    li
                        a(href='//twitter.com/quorumimpact' target="_blank")
                            i.icon-twitter
                    li
                        a(href='//www.linkedin.com/company/10114882' target="_blank")
                            i.icon-linkedin
                    li
                        a(href='//google.com/+Quorumappsdata' target="_blank")
                            i.icon-google
                ul.nav-footer
                    li
                        a(href='/about.html') 
                            span(lang="fr") Équipe
                            span(lang="en") About Us
                    li
                        a(href='https://medium.com/@quorumblog' target="_blank") Blog
                    li
                        a(href='/legals.html') 
                            span(lang="fr") Mentions Légales
                            span(lang="en") Legal
        section#newsletter
            .container
                div.banner
                    button.leave
                        i.fa.fa-close
                    img(src="../images/popup/newsletter.png")
                div
                    p(lang="fr") Ne manquez rien du meilleur de nos publications, actualités et évènements !
                    p(lang="en") DON'T MISS THE BEST OF OUR ARTICLES, PUBLICATIONS AND EVENTS !
                    form(action="//quorum-impact.us12.list-manage.com/subscribe/post?u=8d7c7595072992d8808c7993d&amp;id=e5f9b9d368" method="post" enctype="multipart/form-data" data-dojo-attach-point="formNode" novalidate="")
                        div.input
                            input#mce-EMAIL(type="email" name="EMAIL" required placeholder="Email")
                            .border-input.blue
                            button.blue(type="submit") GO !
        script(src='//code.jquery.com/jquery-2.1.4.min.js')
        script(src="../javascripts/app.js")