doctype html
html
    block vars
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1 maximum-scale=1')
        title #{pageTitle} - Quorum
        meta(name='description' content='Quorum')
        meta(name='keywords' content='quorum')
        meta(name='author' content='Lisa Grenier - Quorum')
        link(rel="icon" href="../images/icons/favicon.ico")
        link(rel='stylesheet' href='stylesheets/app.css')
    body.fr
        nav#nav
            .content
                a(href='/').navbar-brand
                    img(src='images/logo/logo-white.svg' alt='Logo Quorum')
                button.nav-toggle
                    i.fa.fa-bars
                div.bar
                    ul.nav
                        li 
                            a(href='/index.html#product' lang="fr") Produit
                            a(href='/index.html#product' lang="en") Product
                        li
                            a(href='/index.html#contact' lang="fr") Nous contacter
                            a(href='/index.html#contact' lang="en") Contact Us
                    .banner
                        img(src="../images/icons/phone.svg")
                        span  +33 1 79 73 40 04
                        a(href='http://eepurl.com/bWJkZr' target="_blank")
                            button(lang="fr") S'inscrire
                            button(lang="en") Get Early Access
                        span.flag
                            a(href="#" lang="fr") EN
                        span.flag
                            a(href="#" lang="en") FR
        block content        
        footer#footer
            .container
                .copyright
                    span &copy; Quorum 2016 
                ul.social-links
                    li
                        a(href='//facebook.com/quorumimpact' target="_blank")
                            i.icon-facebook
                    li
                        a(href='//twitter.com/quorumimpact' target="_blank")
                            i.icon-twitter
                    li
                        a(href='//www.linkedin.com/company/10114882' target="_blank")
                            i.icon-linkedin
                    li
                        a(href='//google.com/+Quorumappsdata' target="_blank")
                            i.icon-google
                ul.nav-footer
                    li
                        a(href='/about.html') 
                            span(lang="fr") L'Équipe
                            span(lang="en") About Us
                    li
                        a(href='https://medium.com/@quorumblog' target="_blank") Blog
                    li
                        a(href='/legals.html') 
                            span(lang="fr") Mentions Légales
                            span(lang="en") Legal
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src="javascripts/menu.js")
    script(src="javascripts/form.js")   
    block javascript