@charset 'UTF-8';

@import 'compass';
@import 'modular-scale';
@import 'bourbon';
@import 'susy';
@import 'app/base/base';
@import 'app/helpers/mixins';

@import 'app/layout/base';

@font-face {
  font-family: 'ProximaNova-Bold';
  src:url('../fonts/ProximaNova-Bold.otf');
}
@font-face {
  font-family: 'ProximaNova-LightItalic';
  src:url('../fonts/ProximaNova-LightItalic.otf');
}
@font-face {
  font-family: 'ProximaNova-Regular';
  src:url('../fonts/ProximaNova-Regular.otf');
}
body.en :lang(fr) {
  display: none;
}
body.fr :lang(en) {
  display: none;
}
body {
	position: absolute;
	width: 100%;
	background: #F2F2F2;
	color: $font-color;
}
.blue {
  background-color: $blue;
}
.purple {
  background-color: $purple;
}
.pink {
  background-color: $pink;
}
.green {
  background-color: $green;
}
.dark-pink {
  background-color: $dark-pink;
}
.dark-blue {
  background-color: $dark-blue;
}
hr {
  margin: 0px;
}