@include exports ('news') {
    #news-container {
        background: url('../images/patternquorumv2.png');
    }
    #reset.big {
        height: 0;
    }
    #titre-article {
        text-align: center;
        margin-bottom: 4em;
    }
    /* ===== ARTICLES ===== */
    #logo-article {
        background-color: white;
    }
    #bloc-article {
        margin-left: 20px;
        float: left;
        width: 65vw;
    }
    .arrow-icon {
        width: 20px !important;
        height: 20px !important;
        position: absolute;
        right: 6%;
        bottom: 8%;
    }
    .purple-title {
        background-color: #825BF1;
    }
    .red-title {
        background-color: #E7375C;
    }
    .blue-title {
        background-color: #2FC0F8;
    }
    .yellow-title {
        background-color: #FDC82D;
    }
    .green-title {
        background-color: #20D09D;
    }
    #bloc-buttons {
        padding-left: 0 !important;
        margin-left: 50px !important;
        margin-top: 6em !important;
        float: left;
    }
    #square img {
        width: 306px;
        height: 245px;
    }
    #square {
        opacity: 0.7;
        margin-bottom: 8em;
        margin-right: 10px;
        margin-left: 15px;
        float: left;
        width: 312px;
        height: 250px;
        text-align: center;
        background-color: white;
    }
    a {
        color: black;
        text-decoration: none;
    }
    #square:hover {
        opacity: 1;
    }
    span.categorie {
        font-weight: 900;
        padding-left: 1%;
        padding-top: 1%;
        color: white;
    }
    p.titre-article {
        position: relative;
        margin: 0;
        padding: 10px;
        height: auto;
        border-top: 1px solid rgba(209, 209, 209, 0.3);
        width: 293px;
        height: 95px;
        text-align: justify;
        // text-transform: uppercase;
        background-color: white;
    }
    ul.nav-social {
        padding: 0;
        margin-left: -30px;
    }
    li.social {
        margin-left: 15px;
        display: inline-block;
        text-decoration: none;
    }
    a.bouton {
        width: 76.49px;
        height: 70px;
        border-radius: 0;
        background-color: white;
        opacity: 0.7;
    }
    a.bouton:hover {
        box-shadow: 5px 5px 5px #888888;
        opacity: 1;
    }
    li.social i.fa {
        font-size: 2em;
        color: black;
        padding-top: 15px;
    }
    i.fa:hover {
        color: white;
        background-color: #27E5CC;
    }
    i.fa {
        padding-top: 0 !important;
    }
    a#active {
        background-color: #D1D1D1;
    }
    /* ========== TWITTER ============ */
    #test-twitter {
        margin: auto;
        border: 2px solid #D1D1D1;
        padding: 5px;
        text-align: center;
        float: left;
        background-color: white;
    }
    .twitter-timeline {
        height: 47.3em!important;
    }
    /* ========== END TWITTER ============ */
    @media(min-width: 310px)and(max-width: 425px) {
        #titre-article {
            text-align: center;
        }
        #bloc-article {
            margin-left: 1px;
        }
        #bloc-buttons {
            margin-left: 110px;
        }
        #test-twitter {
            margin-left: 50px;
        }
        #square {
          width: 270px;
          margin-bottom: 10em;
        }
        #square img {
          max-width: 250px;
        }
        .titre-article {
          width: 250px !important;
        }
    }
    @media(min-width: 425px)and(max-width: 640px) {
        #bloc-article {
            margin-left: 5em;
        }
        #bloc-buttons {
            margin-left: 10em;
        }
        #test-witter {
            margin-left: 7em;
        }
    }
    @media(min-width: 640px)and(max-width: 939px) {
        #bloc-article {
            width: 100vw;
        }
        #bloc-buttons {
            margin-left: 17em !important;
            width: 100vw;
        }
        #test-twitter {
            margin-left: 220px;
        }
    }
    @media(min-width: 940px)and(max-width: 1024px) {
        #bloc-article {
            width: 69.5vw;
        }
        .titre-article {
            width: 287px !important;
        }
        #square{
          width: 301px;
        }
    }
    @media(min-width: 1025px)and(max-width: 1980px) {
        #titre-article {
            text-align: center;
        }
        #bloc-article {
            width: 72vw;
        }
        #bloc-buttons {
            margin-right: 3em;
            margin-top: 4em;
        }
    }
    @media(min-width: 1981px)and(max-width:2549px) {
        #bloc-article {
            width: 85vw;
        }
        #bloc-buttons {
            margin-top: 4em;
        }
    }
    @media(min-width: 2550px) {
        #bloc-article {
            width: 80vw;
        }
        #bloc-buttons {
            margin-top: 4em;
            width: 15vw;
        }
    }
}
