@include exports('header') {
	header{
		color: $white-color;
		text-align: center;
	}
	.big {
		height: 664px;
		@media(max-width: 425px){
			height: 350px;
		}
	}
	.small {
		height: 69px;
		@media(max-width: 425px){
			height: 84px;
		}
	}
	#home{
		background: url('../images/header/home-header2.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		text-align: left;
		.container{
			h1 {
				span {
					display: block;
				}
			}
			margin-left: calc(8% + 17px);
			padding-top: 180px;
			.subtitle {
				font-size: 24px;
			}
			button:hover {
				background-color: $red;
			}
			a{

			}
		}

		@media(max-width: 425px){
			background-size: auto auto;
			.container {
				margin-left: 8%;
				padding-top: 84px;
				.subtitle {
					font-size: 20px;
				}
			}
		}
	}
	#about {}
}
