@include exports('header') {
	header{
		color: $header-font-color;
		text-align: center;
		@media(max-width: 425px){

		}
	}
	.big {
		height: 650px;
		@media(max-width: 425px){
			height: 300px;
		}
	}
	.small {
		height: 150px;
		@media(max-width: 425px){
			height: 120px;
		}
	}
	#home{
		background: url('../images/header/home-header.jpg');
		background-repeat: no-repeat;
		background-size: 100% auto;
		text-align: left;
		.container{
			margin-left: calc(8% + 27px);
			padding-top: 180px;
			.subtitle {
				font-size: 30px;
				font-family: $font-quote;
			}
		}
		@media(max-width: 425px){
			background-size: auto auto;
			.container {
				margin-left: 8%;
				padding-top: 84px;
				.subtitle {
					font-size: 20px;
				}
			}
		}
	}
	#about{
		.container{
			padding-top: 35px;
		}
	}
	#campaigners{
	
	}
	#nonProfits{
	
	}
	#agency{
	
	}
	#individuals{
	
	}
	#contact{

	}
	#faq{
	
	}
	#getEarlyAccess{
	
	}
}
