@include exports('nav') {
	#nav {
		background: #FFF;
		position: fixed;
		width:100%;
		border-bottom: 1px solid #EEE;
		.content{
			margin-right: 40px;
			.nav-toggle {
				float: right;
				display: none;
			}
			ul.nav{
				float: right;
				display: inline;
				li{
					display: inline;
					width: 200px;
				}
				a {
					width: 200px;
					padding: 16px 20px 16px 20px;
					text-decoration: none;
					color: $font-color;
				}
				a:hover {
					background-color: $nav-hover-color;
				}
			}
		}
		.banner{
			height: 25px;
			background: #DDD;
			padding-top: 7px;
			span{
				margin-left: 40px;
				margin-top: 10px;
			}
			button{
				top: 0;
				padding: 0 10px;
				right: 56px;
				height: 32px;
				position: absolute;
			}
		}
		.navbar-brand{
			margin-left: 40px;
			display: inline;
			img{
				margin-top: 6px;
				width: 200px;
			}
		}
		.dropdown-menu {
			display:none;
		}
	}
	@media(max-width: $small-screen){
		.banner{ 	
			display: none;
		}
	}
}
