@include exports('nav') {
	#nav {
		position: fixed;
		background-color: transparent;
		width:100%;
		color: $white-color;
		font-size: 13px;
		-webkit-transition:.5s;
  		-moz-transition:.5s;
  		transition:.5s;
  		z-index: 1;
		.content{
			.nav-toggle {
				float: right;
				display: none;
				width: 80px; 
				height: 80px; 
				background-color: transparent;
				font-size: 20px;
				color: $font-color;
			}
			ul.nav{
				display: inline-block;
				padding: 15px 0;
				li{
					display: inline;
					margin-left: 15px;
					&:last-child{
						margin-right: 40px;
					}
				}
				a {
					text-decoration: none;
					color: $white-color;
					&:hover {
						color: $font-color;
					}
				}
			}
			div.bar {
				float: right;
				margin-right: 8%;
			}
		}
		.banner{
			display: inline-block;
			i {
				padding: 0 5px 0 30px;
				border-left: 1px solid $white-color;
			}
			button{
				padding: 16px 27px;
				margin-left:10px;
				background-color: transparent;
				border: 1px solid $white-color;
				&:hover {
					background-color: $red;
					border: 0px;
					padding: 16px 28px;
				}
			}
		}
		.navbar-brand{
			float: left;
			display: inline;
			margin-left: 8%;
			img{
				margin-top: 10px;
				width:143px;
			}
		}
		.hidden-menu {
			display:none;
		}
	}
	#nav.active {
		background-color: $light-grey;
		color: $font-color;
		ul.nav {
			li {
				a {
					color: $font-color;
					&:hover {
						color: $grey;
					}
				}
			}		
		}
		button {
			border: none;
			background-color: $blue;
			font-weight: bold;
			padding: 16px 28px;
		}
		.banner {
			i {
				border-color: $font-color;
			}
		}
	}
	#nav.show-menu{
		border-bottom: 1px solid #DDD;
		div.bar {	
			display: block;
			margin: 0;
			width: 100%;
			ul {
				border-bottom: 1px solid #DDD;
				border-top: 1px solid #DDD;
				margin: 0;
				padding: 0;
				width: 100%;
				li {
					margin: 0;
					display: block;
					padding-left: 20px;
					a {
						display: block;
						color: $font-color;
						padding: 20px 0;
					}
				}
			}
		}
		.banner {
			padding: 20px;
			display: block;
			text-align: center;
			span, i {
				padding: 10px 0;
			}
			button {
				background-color: $blue;
				margin-bottom: 15px;
			}
		}
	}
	@media(max-width: 1110px){
		#nav {	
			background-color: #FFFFFF;
			color: $font-color;
			div.bar {
				display: none;
			}
			.content{
				.nav-toggle {
					display: inline-block;
				}
			}
			.navbar-brand{
				margin-left: 10px;
				img{
					width: 180px;
				}
			}
			.banner {
				i {
					border: 0px;
				}
				button {
					margin: 25px;
				}
			}
		}
	}
}
