
@include exports('section') {
	section {
	  	padding: 15px 0 20px 0;
	  	text-align: center;
	  	.title{
	  		width: 30%;
	  		border: 0px;
	  		height: 2px;
	  		margin: 0 auto;
	  	}
	  	.blank {
	  		padding: 10px;
	  		@media(max-width: $small-screen){
				display: none;
			}
	  	}
	  	@media(max-width: $small-screen){
			.container {
				padding: 0 8px;
			}
		}
	}
}
