$header-font-size: ms(6);
$header-line-height: 1.5;

@include exports('section') {
  section {
    padding: 2em 2em;
    background-color: #fff;

    .container > header {
      margin: 0 0 3em;
    }

    header hr {
      margin: 1% 48% 0 48%;
      border-bottom: 1px solid #bbbbbb;
    }

    h4 {
      font-size: 20px;
      text-align: center;
    }

    header h3 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 400;
      margin: 0 0 3em;

      span {
        @include adjust-font-size-to($header-font-size, $header-line-height);
        color: lighten(#000, 60%);
        position: relative;
/*        color: #999;*/
        color: #222;
        em {
          font-style: normal;
/*          color: #f38632;*/
          color: #222;
        }
      }

      span:after {
        content: '';
        position: absolute;
        width: 60px;
        left: 0;
        top: $header-line-height * $base-line-height - 7px;
      }
    }
  }

    @include susy-media($medium-screen) {
        section .container > header p {
            text-align: center;
        }
    }
    @media(max-width: 640px) {
        section{
          padding: 2em 2em;
        }
        section .container header {
          margin: 0 0 1em;
        }
        section header h3{
          margin: 0 0 1em;
        }
        section header h3 span{
          font-size: 20px;
        }
        section h4{
          font-size: 17px;
        }
    }
}
